@using ProfitWise.Web.Plumbing
@model ProfitWise.Web.Models.WelcomeModel
@{
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<div class="system-page" style="text-align: center;">
    <img src="@GlobalConfig.BaseUrl/Content/images/Logo400x101HighRes.jpg" style="max-width:350px;" />

    <div class="top-spacer"></div>

    <h2 class="header">About Push Automated Commerce, LLC</h2>
    <h4>We're here to help you get the most out of your e-commerce platform.</h4>
        
    <div class="below-header-spacer"></div>

    <div class="system-page-content">
        <p>
            Here at Push Automated Commerce, LLC, we get excited about the possibilities offered by running an online store.
            We want to do everything possible to help you be as successful as possible in your e-commerce endeavors! We write
            applications that are designed to help you maximize profits, minimize costs, and increase sales.
        </p>
        <p>
            Founded in 2013, we have extensive first-hand experience in managing online retail stores on the Shopify e-commerce
            platform. Our team is intimately familiar with the features Shopify has to offer, as well as the features it is lacking.
            Our software is designed to fill these gaps, giving you the capabilities you need to succeed.
        </p>
        <p>
            We believe strongly in providing exceptional customer service. Your questions will be answered promptly, and we will do
            everything possible to accomodate new feature requests in a timely manner.
        </p>
    </div>
</div>

