@model ProfitWise.Web.Models.WelcomeModel
@{
    Layout = "~/Views/Shared/_AuthenticatedLayout.cshtml";
}
<div>
    <div class="exception" style="text-align: center;">
        <h2 class="header">About Us</h2>
        <h4>Push Automated Commerce LLC is all about growing commerce.</h4>
        <div class="top-spacer"></div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </div>
</div>
