@model ProfitWise.Web.Models.WelcomeModel
@{
    Layout = "~/Views/Shared/_AuthenticatedLayout.cshtml";
}
<div>
    <div class="exception" style="text-align: center;">
        <div style="max-width: 600px">
            <h2 class="header">About Us</h2>
            <h4>Push Automated Commerce, LLC is here to help you get the most our of your e-commerce platform.</h4>
            <div class="top-spacer"></div>
            <div style="text-align: left">
                <p>
                    Here at Push Automated Commerce, LLC, we get excited about the possibilities offered by running an online store.
                    We want to do everything possible to help you be as successful as possible in your e-commerce endeavors! We write
                    applications that are designed to help you maximize profits, minimize costs, and increase sales.
                </p>
                <p>
                    Founded in 2013, we have extensive first-hand experience in managing online retail stores on the Shopify e-commerce
                    platform. Our team is intimately familiar with the features Shopify has to offer, as well as the features it is lacking.
                    Our software is designed to fill these gaps, giving you the capabilities you need to succeed.
                </p>
                <p>
                    We believe strongly in providing exceptional customer service. Your questions will be answered promptly, and we will do
                    everything possible to accomodate new feature requests in a timely manner.
                </p>
            </div>
        </div>
    </div>
</div>
