@using ProfitWise.Web.Plumbing
@model ProfitWise.Web.Models.WelcomeModel
@{
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}


<div class="system-page" style="text-align: center;">
    <img src="@GlobalConfig.BaseUrl/Content/images/Logo400x101HighRes.jpg" style="max-width:350px;" />

    <div class="top-spacer"></div>

    <h2 class="header">ProfitWise Support</h2>
    <h4>Whether it's a question, suggestion or a feature request, we're listening.</h4>

    <div class="below-header-spacer"></div>

    <div class="system-page-content">
        <p>
            If you have any questions about ProfitWise, or if you run into any issues using the application,
            contact our support team at any time. From any page within ProfitWise, just click on the
            Support button in the lower right corner to submit a support ticket. You may also email us directly
            at <a href="mailto:support@profitwiseapp.com">support@profitwiseapp.com</a>.
            Monday through Friday, you can expect an answer within 24 hours or less.
        </p>
    </div>
</div>
