@model ProfitWise.Web.Models.WelcomeModel
@{
    Layout = "~/Views/Shared/_AuthenticatedLayout.cshtml";
}

<div>
    <div class="exception" style="text-align: center">
        <div style="max-width:600px">
            <h2 class="header">Contact Us</h2>
            <h4>We're here to help!</h4>
            <div class="top-spacer"></div>
            <p>
                If you have any questions about ProfitWise, or if you run into any issues using the application,
                you may contact our support team at any time. From any page within ProfitWise, just click on the
                Support button in the lower right corner to submit a support ticket. You may also email us directly
                at <a href="mailto:support@profitwiseapp.com">support@profitwiseapp.com</a>.
            </p>
        </div>
    </div>    
</div>
