@model ProfitWise.Web.Models.WelcomeModel
@{
    Layout = "~/Views/Shared/_AuthenticatedLayout.cshtml";
}

<div>
    <div class="exception" style="text-align: center;">
        <h2 class="header">Contact Us</h2>
        <h4>Jeremy Simon loves ProfitWise even more than you.</h4>
        <div class="top-spacer"></div>
        <p>
            Jeremy is dying to talk to you. You can talk to him at 847-344-0673 24 hours a day, 7 days a week.
            Don't believe me? Call him right now.
        </p>

    </div>    
</div>
