@using ProfitWise.Web.Plumbing
@model ProfitWise.Web.Models.WelcomeModel
@{
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<script type="text/html" id="Welcome-Page">
    <div class="system-page" style="text-align: center; min-height: 600px;">
        
        <img src="@GlobalConfig.BaseUrl/Content/images/Logo600x151HighRes.jpg" style="max-width:500px;"/>
        
        <div style="height:75px;"></div>

        <h4>Welcome to ProfitWise! We are currently in the process of loading your Shopify store's data.</h4>
        
        <div class="top-spacer"></div>

        <div style="max-width:85%; margin-left:auto; margin-right: auto;">
            <p style="text-justify:inter-word">
                For first time Users, it can take up to 1 hour for your data to load.
                Once this completes, you will be able to start using ProfitWise immediately.
                While waiting, you can visit the Edit Preferences page to review your ProfitWise
                preferences. You'll find the Edit Preferences page under the "Navigate to..." menu, up top.
            </p>
        </div>

        <div data-bind="if: StoreDataLoaded" style="margin-top:40px; width:50%; margin-left:auto; margin-right: auto;">
            <div class="panel panel-default">
                <div class="panel-body" style="padding:30px;">
                    <div style="font-weight: 700; font-size: 1.1em; margin-bottom: 30px;">
                        Your store's data is now loaded into ProfitWise
                    </div>
                    <a href="@Model.ReturnUrl" class="btn btn-primary" style="width:200px;">
                        <i class="glyphicon glyphicon-thumbs-up"></i> Proceed
                    </a>
                </div>
            </div>
        </div>
    </div> 
</script>

<div data-bind="template: { name: 'Welcome-Page' }">    
</div>


<script>

    var welcomeModel = function() {
        var self = this;

        self.StoreDataLoaded = ko.observable(false);

        self.CheckStoreDataLoaded = function() {
            flow.exec(
                function() {
                    var settings = new ProfitWiseFunctions.AjaxSettings();
                    settings.UseSpinner = false;
                    settings.ErrorCallbackFunction = null;
                    var ajax = new ProfitWiseFunctions.Ajax(settings);
                    ajax.HttpGet("/Preferences/StoreDataReady", this);
                },
                function (data) {
                    console.log(data);
                    self.StoreDataLoaded(data.storeDataLoaded);
                });
        };

        self.Initialize = function() {
            var pingInteralMilliseconds = 15000; // Please do not change!
            setInterval(self.CheckStoreDataLoaded, pingInteralMilliseconds);
        };

        return self;
    };

    $(document).ready(
        function() {
            var model = new welcomeModel();
            model.Initialize();
            ko.applyBindings(model);
        }
    );
</script>