@using System.Configuration
@using ProfitWise.Web.Plumbing
@model ProfitWise.Web.Models.WelcomeModel
@{
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<script type="text/html" id="Welcome-Page">
    <div class="system-page" style="text-align: center;">

        <img src="@GlobalConfig.BaseUrl/Content/images/Logo600x151HighRes.jpg" style="max-width: 500px;"/>

        <div class="top-spacer"></div>

        <h4>Welcome to ProfitWise! We are currently in the process of loading your Shopify store's data.</h4>

        <div class="below-header-spacer"></div>

        <div class="system-page-content">
            <p>
                For first time Users, it can take up to 1 hour for your data to load.
                Once this completes, you will be able to start using ProfitWise immediately.
            </p>
            <p>
                While waiting, you can watch our video introduction to ProfitWise (see below).
                You can also visit the Edit Preferences page to review your ProfitWise preferences. 
                You'll find the Edit Preferences page under the "Navigate to..." menu, up top.
            </p>
        </div>

        <div data-bind="if: StoreDataLoaded" class="system-page-content" style="margin-top: 40px;">
            <div class="panel panel-default">
                <div class="panel-body" style="padding: 30px;">
                    <div style="font-weight: 700; font-size: 1.4em; margin-bottom: 30px;">
                        Your store's data is now loaded into ProfitWise
                    </div>
                    <a href="@(ConfigurationManager.AppSettings["application_root_url"])/Preferences/Edit" 
                       class="btn btn-primary btn-lg" style="width: 200px;">
                        <i class="glyphicon glyphicon-thumbs-up"></i> Proceed
                    </a>
                    <div style="height:12px;">
                    </div>
                    <p style="text-align: center;">
                        Click "Proceed" to walk through the initial setup process and get started using ProfitWise.
                    </p>
                </div>
            </div>
        </div>

        <div class="panel panel-default system-page-content">
            <div class="panel-body" style="padding: 30px;">
                <div style="position: relative; height: 0; padding-bottom: 56.25%"><iframe src="https://www.youtube.com/embed/Yv_TaalslO8?ecver=2" width="640" height="360" frameborder="0" style="position: absolute; width: 100%; height: 100%; left: 0" allowfullscreen></iframe>
                </div>
            </div>
        </div>

    </div>
</script>

<div data-bind="template: { name: 'Welcome-Page' }">    
</div>


<script>

    var welcomeModel = function() {
        var self = this;

        self.StoreDataLoaded = ko.observable(false);

        self.CheckStoreDataLoaded = function() {
            flow.exec(
                function() {
                    var settings = new ProfitWiseFunctions.AjaxSettings();
                    settings.UseSpinner = false;
                    settings.ErrorCallbackFunction = null;
                    var ajax = new ProfitWiseFunctions.Ajax(settings);
                    ajax.HttpGet("/Preferences/StoreDataReady", this);
                },
                function (data) {
                    // console.log(data);
                    self.StoreDataLoaded(data.storeDataLoaded);
                });
        };

        self.Initialize = function() {
            var pingInteralMilliseconds = 5000; // Please do not change!
            setInterval(self.CheckStoreDataLoaded, pingInteralMilliseconds);
        };

        return self;
    };

    $(document).ready(
        function() {
            var model = new welcomeModel();
            model.Initialize();
            ko.applyBindings(model);
        }
    );
</script>