@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ProfitWise</h1>
    <p class="lead">By Push Commerce</p>

    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a>
    </p>

    <h3>@this.ViewBag.AccessToken</h3>
    <h5>@this.ViewBag.ShopOwner</h5>
</div>

