@using ProfitWise.Data.Model.Preferences
@using ProfitWise.Web.Attributes
@using Push.Foundation.Utilities.Json

@{
    var todayInShopTimeZone = Context.AuthenticatedContext().Today;
}

<style>
    .date-ranger-picker-parent .daterangepicker {
        width: 680px !important;
        font-size: 12px !important;
        white-space: nowrap;
    }

    div.calendar-table td {
        padding: 0px !important;
        line-height: 25px;
        min-width: 25px;
    }
    i.date-range-picker-icon {
        position: absolute; bottom: 10px; right: 10px; top: auto; cursor: pointer;
    }
    .ranges ul li {
        line-height: 24px;
        padding: 2px 6px;
        margin-bottom: 2px;
        font-size: 12px;
    }
</style>

<script id="Date-Range-Picker-Widget-2" type="text/html">
    <div class="date-ranger-picker-parent pull-right" style="width: 219px; position: relative;">
        <input data-bind="dateRangeTimePicker: $data.daterange, change: $data.change" 
               type="text" class="form-control" style="width: 100%; font-size: 1.0em;" />
        <i class="glyphicon glyphicon-calendar date-range-picker-icon"></i>
    </div>
</script>

<script>
    ko.bindingHandlers.dateRangeTimePicker = {
        init: function (element, valueAccessor, allBindingsAccessor) {

            //initialize datepicker with some optional options
            var options = allBindingsAccessor().options || {};
            var systemDateRanges = ProfitWiseWidgets.DateRangeAsObject();


            var value = valueAccessor();
            var dateRange = ko.utils.unwrapObservable(value);

            var startDate = (!dateRange || !dateRange.startDate) ? moment().subtract(6, 'days') : dateRange.startdate;
            var endDate = (!dateRange || !dateRange.endDate) ? moment() : dateRange.endDate;

            // dateRange is expected to contain "startdate" and "enddate"
            $(element)
                .daterangepicker({
                        "parentEl": $(element).parent(),
                        "startDate": startDate,
                        "endDate": endDate,
                        "alwaysShowCalendars": true,
                        "linkedCalendars": false,
                        "applyClass": "btn-primary",
                        "ranges": systemDateRanges,
                        "opens": "left",
                    },
                    function (start, end, label) {
                        var newDate = {
                            startdate: ProfitWiseFunctions.MomentStartOfDay(start).toDate(),
                            enddate: ProfitWiseFunctions.MomentStartOfDay(end).toDate(),
                        };
                        var value = valueAccessor();
                        value(newDate);
                        value.valueHasMutated();
                        if (allBindingsAccessor().change) {
                            allBindingsAccessor().change(newDate);
                        }
                    });

            $(element).next().click(function () {
                $(element).click();
            });

            ko.utils.domNodeDisposal.addDisposeCallback(element, function () {
                var picker = $(element).data("daterangepicker");
                if (picker && picker.destroy) {
                    picker.destroy();
                }
            });
        },
        update: function (element, valueAccessor, allBindings, viewModel, bindingContext) {
            //valueAccessor refers to the field specified in dateRangeTimePicker

            var picker = $(element).data("daterangepicker");
            var dateRange = ko.utils.unwrapObservable(valueAccessor());

            ////when the view model is updated, update the widget
            if (picker && dateRange) {
                picker.setStartDate(dateRange.startdate);
                picker.setEndDate(dateRange.enddate);
            }
        }
    };

    var ProfitWiseWidgets = ProfitWiseWidgets || {};

    ProfitWiseWidgets.DateRanges = 
        @Html.Raw(DateRangeDefaults.Factory(todayInShopTimeZone).SerializeToJson());    

    ProfitWiseWidgets.DateRangeById = function(id) {
        return AQ(ProfitWiseWidgets.DateRanges)
            .firstOrDefault(function(item) {
                return item.Id == id;
            });
    }

    ProfitWiseWidgets.DateRangeAsObject = function() {
        var output = {};
        AQ(ProfitWiseWidgets.DateRanges).each(function(x) {
            output[x.Name] = [moment(x.StartDate), moment(x.EndDate)];
        });
        return output;
    };
</script>
