<!-- Requires KnockoutJS Bootstrap integration plugin Knockstrap -->

<script type="text/html" id="Paging-Widget-Popover">
    <!--<div id="pagination-popover-content"> <!-- style="display: none;"-->
    <div id="pagination-popover" class="input-group">
        <input type="text" class="form-control jump-to-page-class" placeholder="Jump to page number..." maxlength="5"
               data-bind="
                    value: JumpToPage, 
                    valueUpdate: 'afterkeydown', 
                    hasFocus: true,
                    event: { keyup: JumpToPageOnEnter }" />

        <span class="input-group-btn">
            <button class="btn btn-primary" data-bind="click: JumpToPageFunction" type="button">Go!</button>
        </span>
    </div>
</script>

<script type="text/html" id="Paging-Widget">
    <div class="pull-right popover-container" name="paging-widget" style="margin-left: 15px;">
        <nav aria-label="Page navigation" class="pull-right">
            <ul class="pagination" style="margin-top: 0">
                <li>
                    <a href="#" aria-label="First" data-bind="click: First">
                        <span><i class="glyphicon glyphicon-backward"></i>&nbsp;</span>
                    </a>
                </li>
                <li>
                    <a href="#" aria-label="Backward" data-bind="click: Backward">
                        <span><i class="glyphicon glyphicon-step-backward"></i>&nbsp;</span>
                    </a>
                </li>
                <li>
                    <a href="#" rel="popover" class="popover-launcher"
                       data-bind="popover: { options: { placement: 'bottom', trigger: 'click',  },  template: 'Paging-Widget-Popover', data: $data }">
                        Page <span data-bind="text: PageNumber"></span> of <span data-bind="text: PageCount"></span></a>
                </li>
                <li>
                    <a href="#" aria-label="Forward" data-bind="click: Forward">
                        <span><i class="glyphicon glyphicon-step-forward"></i>&nbsp;</span>
                    </a>
                </li>
                <li>
                    <a href="#" aria-label="Last" data-bind="click: Last">
                        <span><i class="glyphicon glyphicon-forward"></i>&nbsp;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <div style="float: right;">
        <div class="input-group pull-right;" style="width: 160px;">

            <select class="form-control" data-bind="value: PageSize, event:{ change: PageSizeChanged}">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>

            <span class="input-group-addon" id="basic-addon2">per page</span>
        </div>
    </div>
</script>

<script type="text/javascript">
    var ProfitWiseWidgets = ProfitWiseWidgets || {};

    ProfitWiseWidgets.PagingModel = function() {
        var self = this;

        self.RecordCount = ko.observable(0);
        self.PageNumber = ko.observable(1);
        self.PageSize = ko.observable(25);

        self.PageSizeChanged = function() {
            if (self.PageNumber() > self.PageCount()) {
                self.PageNumber(self.PageCount());
            }

            if (self.JumpToPage() > self.PageCount()) {
                self.JumpToPage(self.PageCount());
            }
            self.InvokeCallbackFunction();
        }

        self.HighlightJumpToPage = function () {
            
        };

        self.JumpToPage = ko.observable();

        self.JumpToPageOnEnter = function(model, event) {
            if (event.keyCode == 13) {
                self.JumpToPageFunction();
                return false;
            } else {
                return true;
            }
        };

        self.JumpToPageFunction = function () {
            var newPage = parseInt(self.JumpToPage());
            if (isNaN(newPage)) {
                self.JumpToPage("");
                return;
            }

            if (newPage < 1) {
                newPage = 1;
            }
            if (newPage > self.PageCount()) {
                newPage = self.PageCount();
            }
            
            //console.log("newPage " + newPage);
            self.PageNumber(newPage);
            self.PageNumber.valueHasMutated();
            
            //console.log("current PageNumber " + self.PageNumber());
            self.InvokeCallbackFunction();                
            ProfitWiseFunctions.PopOverCloseAll();

            self.JumpToPage("");
            self.JumpToPage.valueHasMutated();

            self.ScrollToTop();
        };
        
        self.PageCount = ko.computed(function () {
            var computedPageCount =
                Math.floor((Math.floor(self.RecordCount()) + Math.floor(self.PageSize()) - 1) / self.PageSize());

            return (computedPageCount);
        });

        self.ScrollToTop = function(){
            $('html,body').animate({ scrollTop: 0 });
        }

        self.Forward = function() {
            if (self.PageNumber() < self.PageCount()) {
                self.PageNumber(self.PageNumber() + 1);
                self.InvokeCallbackFunction();
                self.ScrollToTop();
            }
        };

        self.Backward = function() {
            if (self.PageNumber() > 1) {
                self.PageNumber(self.PageNumber() - 1);
                self.InvokeCallbackFunction();
                self.ScrollToTop();
            }
        };

        self.First = function() {
            self.PageNumber(1);
            self.InvokeCallbackFunction();
            self.ScrollToTop();
        };

        self.Last = function() {
            self.PageNumber(self.PageCount());
            self.InvokeCallbackFunction();
            self.ScrollToTop();

        };

        self.CallbackFunction = function() {
        };

        self.InvokeCallbackFunction = function () {
            self.CallbackFunction(Number(self.PageNumber()), Number(self.PageSize()));
        };

        self.SubscribeCallbackFunction = function(callback) {
            self.CallbackFunction = callback;
        };

        return self;
    };
</script>

