@model ProfitWise.Web.Attributes.ErrorModel

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<p>We're sorry, but we've just encountered a Server Fault. We'll have that cleared up soon!
    You can click <a href="@Model.AspxErrorPath">click here to navigate back</a>. 
    If the issue persists, please contact our support team.</p>

