<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="profitWiseConfiguration" type="System.Configuration.SingleTagSectionHandler" />
  </configSections>
  
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="50000" />

    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    <!-- Machine Time Zone -->
    <add key="Machine_TimeZone" value="Eastern Standard Time" />

    <!-- Test Recurring Charges-->
    <add key="TestRecurringCharges" value="true" />
    
    <!-- General Configuration -->
    <add key="application_root_url" value="https://gracie2/ProfitWise" />

    <add key="UninstallWebHookAddress" value="http://requestb.in/1kfy04h1" />
  </appSettings>

  <!-- Aleks' Keys   -->
  <profitWiseConfiguration 
      ShopifyApiKey="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAImFhgvDa0k6t1baRwZr5ygQAAAACAAAAAAAQZgAAAAEAACAAAADgDCt4kD2YBQHiGKXSgsuP0iPjX3qYrTGmFMULsn3VGQAAAAAOgAAAAAIAACAAAAA3KMB6+m3cDk+M+oZx+3ITaGvAl4q1hBGIw/YTrHbu7VAAAAAwp+34SlayDxlFE8X3ghCI/u+tzHfxhTk6vgund3ABVnJ7j5pJbMkT4aEMPz5MAdyTTsq7+ImD2Xoz6y7TD+ncwEVC/Qti5q9HMAMmTMOehkAAAABv+cTNnkDxcjt02sscqUyz2bAnvGtMSWgXWntrRCyrmPHAW/FxypHEZed25QlUg92NJ3i23rSm2WhK3r2+deRb" 
      ShopifyApiSecret="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAImFhgvDa0k6t1baRwZr5ygQAAAACAAAAAAAQZgAAAAEAACAAAAAkRghcQid2dN5iMDhxN3aefcmPPCYJDZi1h8SxrkFnugAAAAAOgAAAAAIAACAAAABwFrit2dsaoOM2uPa33XKNsbv9dkVzXcoBm7Tcc8qYvFAAAADIfQnlL19n0TvTQmULS4+SF4vikcRo51oCPc5vK3DmCGeBPBrHd/7ooYMwJfdhAkFImh346SnApfnAX9qON8QJ1kAxSKncqtxxg52bMgtmE0AAAACbM5aT2+r0FZt6D0ujSrBOr9zkWIqtkilqEvL1IfqJm0qIX2XqFquXteMY00whb7UyeA25+7J1vsGOsem6hF2P" 
      ClaimKey="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAImFhgvDa0k6t1baRwZr5ygQAAAACAAAAAAAQZgAAAAEAACAAAAChNZslj0oQfzUA1egJoG+lvNVnjAwSaxSnxtoUkNlXXwAAAAAOgAAAAAIAACAAAABn8xbOLGUotEPjjwnPaO5rLsgtPbyrruVAEK1sNSb1TlAAAADOpKb0R3hMcfdGmS2/VppFVlesnMjc+wk9gCVXTGPW6/ThAXw4Jxr6etN+TUERWzInPWTAGkYacOMhFiAIWXsw2QpUU9cFkxLwLboqC+b+qUAAAAA91nLCApgjKM+pIH8HzEQntMJG3TzNXb1IezT/vF01Q3GnFHdqTw1nGMM1DYvXXJrdVtDqoYP5ycD+7k1XlvZ7" 
      ClaimIv="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAImFhgvDa0k6t1baRwZr5ygQAAAACAAAAAAAQZgAAAAEAACAAAADq2kCDkeKJCL1FbOPgyDWojP4MmTU0Ao82cJHpMdVptQAAAAAOgAAAAAIAACAAAADCRHvATYRSf/lcZD5M5rBvR+qfvORwIKaNXWNpxhIo7TAAAADMznsDbZ5wi87/yVc3lv4oxyUa6P+KezlwgUMX/OdB7g8glLYXPmhY40HAuLeQXf1AAAAAHmxFsmtM6O7/dvUVxDEpM5iKBYLHA2Z7TOkYUULDgoZ2ALXAZRa8fcz8P/gOe9VpVdt4D8PFJmq0R4RX9z5fSA==" />
  
  <!-- Jeremy's Keys 
  <profitWiseConfiguration
    ShopifyApiKey="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAufiPN2IGZkCUkM2OogLyKgQAAAACAAAAAAAQZgAAAAEAACAAAAD8HaG/SFk+W04uUpN5AhtnDcMFlJLfCyZN7lHfKJ44RQAAAAAOgAAAAAIAACAAAAAhopNMif7lo9+V5f6RlPX47OlwAYocaHTksf30nfmxx1AAAADjSaFumjUsKzGfRBLAdg9zw/xfiVTqwWlt7hrY/WNvD47ZgtTFRK8uyqZtFKjmKcWmJzz8E/Nx0n1XSQFUKnu4vg/T10yMjOAU1KERHxLb1kAAAAB/Eip0Nr667612GYEyCP+oLDhX1vBnFe38TnMY1sP5uBn32IvGY9KjZ5M+Kzf3p29T6oEGY7EKmYUNScBIDXMA"
    ShopifyApiSecret="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAufiPN2IGZkCUkM2OogLyKgQAAAACAAAAAAAQZgAAAAEAACAAAACRINO0FqAPGTup/jBSpKLaxE9dv2Iq0W4Bu5tseYtb0wAAAAAOgAAAAAIAACAAAAAJiimp3P70QHsp7RWknD95x8LXlU6EJo1dERqyLDHzoVAAAABjPbVBzbqFk900p/cfWWQ9U8mOytLinT7UEQDMezeZm2l5j3Dft6TpkJerYfYda1M0X31Tx6Y0zsxatycMVCuAC1YJewUaOJU1MvIW8pCywUAAAACdd8LfCs+HU8IwQb+Uzwtt85ZmP+dGcU3a5kHABTPvmUr/EgsbyNIs8qPk2RU4UhaHhhmjz9H2Q1HuEgn/Smai"
    ClaimKey="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAufiPN2IGZkCUkM2OogLyKgQAAAACAAAAAAAQZgAAAAEAACAAAAAwyja0K8u4ZuXnSSy6R5SJEg8wCWynsjI6BDZRejxO3gAAAAAOgAAAAAIAACAAAACIIV7ghfMkAoWjsZanTCrnk7YqyK27gkwE1PlNzFCRkFAAAABumlitXO29s/DJcRTIz2KvHHs6Uuyoi/h+q/9J/KPV2Uc9MBIVFLRaswKzzp9zXntPbpThX22ILRWK7PJsbnNuU95rGGNFKTLCwAJGjK006EAAAADAnwGIdEkNK+GesTRZU26B6XYh0BPOAFmOSX6O1jhhYiOuQgPth7FHZurIb+c4v6XyvL0A0sY7yK3kU11F32yN"
    ClaimIv="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAufiPN2IGZkCUkM2OogLyKgQAAAACAAAAAAAQZgAAAAEAACAAAACpb6J4hTLWuUDcp6AI9VCodTBt6vZWR03KRyqUlI+pNgAAAAAOgAAAAAIAACAAAADVj9b2xKYfWyzLCE3QxQI1cPzBxecufHSoyj9dzlcmpjAAAADn8MVjMVMDh7aHH1oQKGOv01DrHnLYnGJlWPudFpLA/CDwbhrcH15jbT14j3HUIMJAAAAAJwjpgKh2upv5zdjSptFx74sxhpu8X1J6ARXsC2V1G/pL9Z2JuWLFq1EG5JFjEjgKZETKowhsy5TGXkn4gJ+tMg==" />
  -->

  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Server=localhost;Database=ProfitWise;Trusted_Connection=True;" />
  </connectionStrings>
  
  <!-- NOTE due to inconsistent behavior, Config Transforms are not used on this -->
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="Standard.Output" xsi:type="SplitGroup">
        <target xsi:type="File" filename="C:\ProfitWise\WebAppLogs\${logger}.${shortdate}.txt" layout="${longdate}|${level}|${message}" archiveAboveSize="50000000"></target>
        <target xsi:type="Console" layout="${message} ${onexception:|${exception:format=tostring} | ${stacktrace}}"></target>
        <target xsi:type="Debugger" layout="${message} ${onexception:|${exception:format=tostring} | ${stacktrace}}"></target>
      </target>
    </targets>
    
    <rules>
      <logger name="*" minlevel="INFO" writeto="Standard.Output"></logger>
    </rules>
  </nlog>
  
  <system.web>
    <authentication mode="None" />
    
    <compilation debug="true" targetFramework="4.5.2" />
    
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    
    <customErrors mode="RemoteOnly" defaultRedirect="~/Error/Http500" />
  </system.web>
  
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="HTTP/S to HTTPS Redirect" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAny">
            <add input="{SERVER_PORT_SECURE}" pattern="^1$" />
            <add input="{SERVER_PORT_SECURE}" pattern="^0$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    
    <validation validateIntegratedModeConfiguration="false" />

    <staticContent>
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
    </staticContent>
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="linq2db" publicKeyToken="f19f8aed7feff67e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.7.1" newVersion="1.0.7.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>

  
</configuration>

