<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace" >
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="50000" />

    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="InitialOrderStartDateOffsetMonths" value="24" />

    <!-- Machine Time Zone -->
    <add key="Machine_TimeZone" value="Eastern Standard Time" />

    <!-- TEMPORARY - until UAT is complete -->
    <add key="TestRecurringCharges" value="false" />
    
    <!-- General Configuration -->
    <add key="application_root_url" value="https://www.profitwiseapp.com" />
    <add key="CookieDomain" value=".profitwiseapp.com" />
    <add key="UninstallWebHookAddress" value="https://www.profitwiseapp.com/ShopifyAuth/Uninstall" />
    
    <!-- HangFire execution frequencies -->
    <add key="ShopRefreshInterval" value="*/15 * * * *" />
    <add key="ExchangeRefreshInterval" value="0 2 * * *" />
    <add key="CleanupServiceInterval" value="*/15 * * * *" />

    <!-- Location of file storage -->
    <add key="FileUploadDirectory" value="C:\ProfitWise\FileStorage\" />
  </appSettings>
  
  <profitWiseConfiguration xdt:Transform="Replace"
      ShopifyApiKey="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAKbhTHJ8nj06tZFDzi0UjogQAAAACAAAAAAAQZgAAAAEAACAAAACccA5e61vWYRuirKC7Sup4/OCKjLa5pUk9Re2s7qc5bgAAAAAOgAAAAAIAACAAAAB6cZdyDquGCQYV3cER7vkc4O299UDALwdmCDtKTeCXSVAAAAAHDozkgaqwEAmevgTzaoCm9KHAYQjBmWlfANEXqWcS5/VsEOtJSYNcgbe0THpoy2CQYlhxCe8pa59XcYKS+e/Jaj3rW7Cei4Z5YUAE6YUKtUAAAABRgl8LtriwGoRbp+20ekPb6ksy57pYmP2lnmrGgK7b6dmFeqBrqEKwudA63kOyW/OLhlASW1+8KNWVdP48kbiu"
      ShopifyApiSecret="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAKbhTHJ8nj06tZFDzi0UjogQAAAACAAAAAAAQZgAAAAEAACAAAACFyo5C76734fMeJnZMpDmSO/Hl5JSuN5bBhnMm9wMWrwAAAAAOgAAAAAIAACAAAAC9E/od8esc/P113vgv7L4kmtQi8o9PdxGOsCS4k5nxIFAAAAAtqsFDxKJp8bxQ34OEZ62kBRqI8ezIdomtzculbnusHv+s74NX0P0wDiJRwJqFLvVslqLZzUXEJfYc7n9T6wEkR5izMFEcUUw+GswNFmc+dkAAAACO0LEAIdSQq25PTMWOO9xzeWa2g+bG9sz5V22IjzbwKx1lci4oSs0oWyj94DWHsAnmc7FSBwDP2VJ0MddwH0yO"
      ClaimKey="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAKbhTHJ8nj06tZFDzi0UjogQAAAACAAAAAAAQZgAAAAEAACAAAABXCuui579HG8T6POk8PSMeLF6nw36YBu/A0jcpj09FlgAAAAAOgAAAAAIAACAAAABXJbBDxGsBAASkhm9G2SY/zeRIfcgoOB06OTmt5Elxh1AAAAA8XdO/zUMU84I2tiw2NgPsF+UrXKg8IP4wYhtgQT4vj6OAdwFRzB3zxZ3o9oA5I99U4By+igo2J0/F0Qp1SW4T/WCvORqM68GVtKJicN0kqkAAAAD6XJB87qwe/2EX8WV8z/NSH/6CRuugw9JxSp5bz8jCEJPdolMZlFjpvm9xy622X0p8xLXAFl3E0GXedT7jZDEV"
      ClaimIv="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAKbhTHJ8nj06tZFDzi0UjogQAAAACAAAAAAAQZgAAAAEAACAAAAB00zAxKq5beTkZ369C8ze7dKh67Nv9pdFYxUNqpoMxAAAAAAAOgAAAAAIAACAAAACOerpDI3EjVpPjvF3RluDeCcu+ybdfCEWWpwNZ5ZZE4jAAAACucmPuO3L0Tp0lttshBn30HHDJFI/n7GHJJJdowU39uohzIw6WOOhK23asGgxRW+JAAAAAUJfvl0uhoo5SNQhV/iWgjA+S3/CMhM5zZ5Nj61Mx7UIaL1L4+WS6dVxY1htQclhWfiC4u9K53UuFVK7Tb0M2mg=="/>

  <nlog xdt:Transform="Replace">
    <targets>
      <target name="Standard.Output" type="SplitGroup">
        <target type="File" filename="C:\ProfitWise\WebAppLogs\${logger}.${shortdate}.txt" layout="${longdate}|${level}|${message}" archiveAboveSize="50000000"></target>
        <target type="Console" layout="${message} ${onexception:|${exception:format=tostring} | ${stacktrace}}"></target>
        <target type="Debugger" layout="${message} ${onexception:|${exception:format=tostring} | ${stacktrace}}"></target>
      </target>
    </targets>

    <rules>
      <logger name="*" minlevel="INFO" writeto="Standard.Output"></logger>
    </rules>
  </nlog>
  
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />    
  </system.web>
  
  <system.webServer>
    <rewrite xdt:Transform="Insert">
      <rules>
        <rule name="HTTP/S to HTTPS Redirect" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAny">
            <add input="{SERVER_PORT_SECURE}" pattern="^0$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
