<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="profitWiseConfiguration" type="System.Configuration.SingleTagSectionHandler"  />
  </configSections>
  
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="50000" />

    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!-- Machine Time Zone -->
    <add key="Machine_TimeZone" value="(GMT-06:00) Central Time (US &amp; Canada)" />

    <!-- General Configuration -->
    <add key="application_root_url" value="https://gracie2/ProfitWise" />
  </appSettings>
  
  <profitWiseConfiguration
    ShopifyApiKey="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAImFhgvDa0k6t1baRwZr5ygQAAAACAAAAAAAQZgAAAAEAACAAAAB3kWgDagYOvkiDcK1U3pNGkf/fTb+jnEeuzkpK0wB2xAAAAAAOgAAAAAIAACAAAACVRNh6QNrQ98VsfGhV53KDT2CeAUNzUs+Vvp3Gx2TdIVAAAADyV/swXNOU0wQ73qKOkXpz0lzhGQoDPNIGO91/rLJcYp0QXiOGxrUDB4M/Guh/8kmImuH0tPyjgpfqMAPOQ9mz6ErRXqxVeBK0J4muFfY9AkAAAABxi3Tr+qhrCTCjtb+p4Qf9M4zJmfkut7aYndu9S2ih4VuLQTSJIHoAv88D26CdEDz/I7WFYZOGug6aK/bVTnJm"
    ShopifyApiSecret="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAImFhgvDa0k6t1baRwZr5ygQAAAACAAAAAAAQZgAAAAEAACAAAABwwaX8CVSM82YUhIEyvWMueraq7Og6ya9AXfTV1d4pzwAAAAAOgAAAAAIAACAAAAAjtpTLP4dO1iE25PKijv7V+9bySlMfk7ip+NPQZvHM2VAAAACM7wHBhinleFyP58BQ2uNsOHfR1i7nLgLLcdpjGc4FwFN5ZP3JezWWkl+sz3fB7czOK0GSKKoe2h4FPsE69b9OTedVAFQ6Suhgc1ViPvxqGkAAAAAdeUxTvLF//hnZtXnBvG6GmqigDdYv8mgD1oT7H6FvvyUy7Ld4KhLZthVDdt3ZIpv2lTj01IAjS7GERvBZVFkS"
    ClaimKey="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAImFhgvDa0k6t1baRwZr5ygQAAAACAAAAAAAQZgAAAAEAACAAAAChNZslj0oQfzUA1egJoG+lvNVnjAwSaxSnxtoUkNlXXwAAAAAOgAAAAAIAACAAAABn8xbOLGUotEPjjwnPaO5rLsgtPbyrruVAEK1sNSb1TlAAAADOpKb0R3hMcfdGmS2/VppFVlesnMjc+wk9gCVXTGPW6/ThAXw4Jxr6etN+TUERWzInPWTAGkYacOMhFiAIWXsw2QpUU9cFkxLwLboqC+b+qUAAAAA91nLCApgjKM+pIH8HzEQntMJG3TzNXb1IezT/vF01Q3GnFHdqTw1nGMM1DYvXXJrdVtDqoYP5ycD+7k1XlvZ7"
    ClaimIv="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAImFhgvDa0k6t1baRwZr5ygQAAAACAAAAAAAQZgAAAAEAACAAAADq2kCDkeKJCL1FbOPgyDWojP4MmTU0Ao82cJHpMdVptQAAAAAOgAAAAAIAACAAAADCRHvATYRSf/lcZD5M5rBvR+qfvORwIKaNXWNpxhIo7TAAAADMznsDbZ5wi87/yVc3lv4oxyUa6P+KezlwgUMX/OdB7g8glLYXPmhY40HAuLeQXf1AAAAAHmxFsmtM6O7/dvUVxDEpM5iKBYLHA2Z7TOkYUULDgoZ2ALXAZRa8fcz8P/gOe9VpVdt4D8PFJmq0R4RX9z5fSA==" />  

  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Server=localhost;Database=ProfitWise;Trusted_Connection=True;" />
  </connectionStrings>
  
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="Standard.Output" xsi:type="SplitGroup">
        <target xsi:type="File" filename="C:\DEV\ProfitWise\Logs\${logger}.${shortdate}.txt" layout="${longdate}|${level}|${message}" archiveAboveSize="50000000"></target>
        <target xsi:type="Console" layout="${message} ${onexception:|${exception:format=tostring} | ${stacktrace}}"></target>
        <target xsi:type="Debugger" layout="${message} ${onexception:|${exception:format=tostring} | ${stacktrace}}"></target>
      </target>
    </targets>
    
    <rules>
      <logger name="*" minlevel="INFO" writeto="Standard.Output"></logger>
    </rules>
  </nlog>
  
  <system.web>
    <authentication mode="None" />
    
    <compilation debug="true" targetFramework="4.5.2" />
    
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    
    <customErrors mode="RemoteOnly" defaultRedirect="~/Error/Http500" />
  </system.web>
  
  <system.webServer>   
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    
    <validation validateIntegratedModeConfiguration="false" />

    <staticContent>
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
    </staticContent>
  </system.webServer>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="linq2db" publicKeyToken="f19f8aed7feff67e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.7.1" newVersion="1.0.7.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>

  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.8.7.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>

