<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">  
  <!--Jeremy's Keys-->
  <profitWiseConfiguration xdt:Transform="Replace"
      ShopifyApiKey="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAufiPN2IGZkCUkM2OogLyKgQAAAACAAAAAAAQZgAAAAEAACAAAAD8HaG/SFk+W04uUpN5AhtnDcMFlJLfCyZN7lHfKJ44RQAAAAAOgAAAAAIAACAAAAAhopNMif7lo9+V5f6RlPX47OlwAYocaHTksf30nfmxx1AAAADjSaFumjUsKzGfRBLAdg9zw/xfiVTqwWlt7hrY/WNvD47ZgtTFRK8uyqZtFKjmKcWmJzz8E/Nx0n1XSQFUKnu4vg/T10yMjOAU1KERHxLb1kAAAAB/Eip0Nr667612GYEyCP+oLDhX1vBnFe38TnMY1sP5uBn32IvGY9KjZ5M+Kzf3p29T6oEGY7EKmYUNScBIDXMA"
      ShopifyApiSecret="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAufiPN2IGZkCUkM2OogLyKgQAAAACAAAAAAAQZgAAAAEAACAAAACRINO0FqAPGTup/jBSpKLaxE9dv2Iq0W4Bu5tseYtb0wAAAAAOgAAAAAIAACAAAAAJiimp3P70QHsp7RWknD95x8LXlU6EJo1dERqyLDHzoVAAAABjPbVBzbqFk900p/cfWWQ9U8mOytLinT7UEQDMezeZm2l5j3Dft6TpkJerYfYda1M0X31Tx6Y0zsxatycMVCuAC1YJewUaOJU1MvIW8pCywUAAAACdd8LfCs+HU8IwQb+Uzwtt85ZmP+dGcU3a5kHABTPvmUr/EgsbyNIs8qPk2RU4UhaHhhmjz9H2Q1HuEgn/Smai"
      ClaimKey="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAufiPN2IGZkCUkM2OogLyKgQAAAACAAAAAAAQZgAAAAEAACAAAAAwyja0K8u4ZuXnSSy6R5SJEg8wCWynsjI6BDZRejxO3gAAAAAOgAAAAAIAACAAAACIIV7ghfMkAoWjsZanTCrnk7YqyK27gkwE1PlNzFCRkFAAAABumlitXO29s/DJcRTIz2KvHHs6Uuyoi/h+q/9J/KPV2Uc9MBIVFLRaswKzzp9zXntPbpThX22ILRWK7PJsbnNuU95rGGNFKTLCwAJGjK006EAAAADAnwGIdEkNK+GesTRZU26B6XYh0BPOAFmOSX6O1jhhYiOuQgPth7FHZurIb+c4v6XyvL0A0sY7yK3kU11F32yN"
      ClaimIv="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAufiPN2IGZkCUkM2OogLyKgQAAAACAAAAAAAQZgAAAAEAACAAAACpb6J4hTLWuUDcp6AI9VCodTBt6vZWR03KRyqUlI+pNgAAAAAOgAAAAAIAACAAAADVj9b2xKYfWyzLCE3QxQI1cPzBxecufHSoyj9dzlcmpjAAAADn8MVjMVMDh7aHH1oQKGOv01DrHnLYnGJlWPudFpLA/CDwbhrcH15jbT14j3HUIMJAAAAAJwjpgKh2upv5zdjSptFx74sxhpu8X1J6ARXsC2V1G/pL9Z2JuWLFq1EG5JFjEjgKZETKowhsy5TGXkn4gJ+tMg==" />

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />    
  </system.web>
</configuration>
