<!-- Requires KnockoutJS Bootstrap integration plugin Knockstrap -->
<!-- Requires MoneyEditorWidget, NumberEditorWidget, & SelectorPopoverWidget -->


<script type="text/html" id="CostOfGoodsSold-Editor-Widget">
    <select class="form-control" style="font-size:0.8em; margin-top:5px; margin-bottom: 5px;">
        <option>Fixed amount</option>
        <option>Compute using margin %</option>
    </select>

    <span data-bind="template: { name: 'Money-Editor-Widget', data: EditorModel }">
    </span>

</script>

<script type="text/javascript">
    var ProfitWiseWidgets = ProfitWiseWidgets || {};

    ProfitWiseWidgets.CogsEditorWidgetModel = function(parameters) {
        var self = this;

        // Parameters = { identifier, placeholder, lowconstraint, highconstraint, defaultamount, defaultcurrencyid }
        self.MoneyEditor = new ProfitWiseWidgets.MoneyEditorWidgetModel();

        // Parameters = { identifier, placeholder, lowconstraint, highconstraint, defaultamount }
        self.NumberEditor = new ProfitWiseWidgets.NumberEditorWidgetModel();

        self.SelectedCogsType = ko.observable();

        self.PushState = function(currencyId, amount) {
            self.CurrencyId(currencyId);
            self.Amount(amount);
        }

        self.PullState = function() {
            return {
                CurrencyId: self.CurrencyId(),
                Amount: self.Amount()
            };
        };

        // Register to both child controls - this is just a pass-thru
        self.RegisterEnterKeyCallback = function (callback) {
            self.EnterKeyCallback = callback;
        };

        // Register to both child controls - this is just a pass-thru
        self.RegisterEscapeKeyCallback = function (callback) {
            self.EscapeKeyCallback = callback;
        };

        return self;
    };
</script>
