<style>
    .consol-category-label { color: #999; font-weight: 800; letter-spacing: 0.2em; text-transform: uppercase; }
    .consol-primary { font-weight: 700; }    
    .product-consol {margin-bottom: 10px;}
    .product-consol tr th { color: #AAA; border:none; }    
    .product-consol tr td { vertical-align: middle !important; }
    .product-consol tr td:nth-child(1), .product-consol tr th:nth-child(1) { width: 35%; }
    .product-consol tr td:nth-child(2), .product-consol tr th:nth-child(2) { width: 25%; text-align: left; }
    .product-consol tr td:nth-child(3), .product-consol tr th:nth-child(3) { width: 10%; text-align: center; }
    .product-consol tr td:nth-child(4), .product-consol tr th:nth-child(4) { width: 15%; text-align: center; }
    .product-consol tr td:nth-child(5), .product-consol tr th:nth-child(5) { width: 15%; text-align: center; }    
    .product-consol .id-label { font-size:0.8em; }
    
    .consolidation-synposis { font-weight:700; color: #888; }
    .consol-link-control { font-weight:700; }

    input[type='text'] { width: 100px; }
</style>

<script type="text/html" id="Product-Consolidation-Header">
    <!-- Filtering and Paging -->
    <div class="row">
        <div class="col-xs-6" style="padding-top: 20px;">
            
            <h3 class="edit-product-header overflow-gracefully" 
                data-bind="text: MasterProductTitle"></h3>
            <div class="edit-product-subtitle" data-bind="text: VariantTitle"></div>
            
            <div class="edit-product-spacer"></div>

            <div class="return-link">
                <i class="glyphicon glyphicon-arrow-left"></i> &nbsp;
                <a href="#" data-bind="click: ExitCallback">
                    Return to Product Search
                </a>
            </div>
        </div>
        
        <div class="col-xs-6" style="text-align: right; padding-top: 40px;">
            <a href="#" class="btn btn-primary" style="width:250px;" data-bind="click: EditCogsCallback">
                <i class="glyphicon glyphicon-pencil"></i> &nbsp; Edit Product CoGS
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 edit-product-table-header">
        </div>
    </div>
</script>

<script id="Consolidation-Expander" type="text/html">
    <span data-bind="ifnot: $data.Visible">
        <a href="#" data-bind="click: function() { $data.Visible(true); }" class="consol-link-control">
            <i class="glyphicon glyphicon-chevron-down"></i> Show
        </a>
    </span>
    <span data-bind="if: $data.Visible">
        <a href="#" data-bind="click: function() { $data.Visible(false); }" class="consol-link-control">
            <i class="glyphicon glyphicon-chevron-up"></i> Hide
        </a>
    </span>
</script>

<script id="Consolidation-Expander-Synopsis" type="text/html">
    <span class="consolidation-synposis" data-bind="if: Consolidations.length == 0">
        This <span data-bind="text: ExpanderLabel"></span> is not consolidated with any other <span data-bind="text: ExpanderLabel"></span>(s)
    </span>

    <span class="consolidation-synposis" data-bind="if: Consolidations.length > 0">
        <span>
            This <span data-bind="text: ExpanderLabel"></span> is consolidated with
            <span data-bind="text: Consolidations.length"></span> other <span data-bind="text: ExpanderLabel"></span>(s)
        </span>

        <span style="display: inline-block; width:30px;"></span>

        <span data-bind="template: { name: 'Consolidation-Expander', data: { Visible: ShowConsolidations } }"></span>
    </span>
</script>

<script type="text/html" id="Product-Consolidation-Body">
    <div style="padding-top: 40px; padding-bottom: 30px;">
        <div class="row" style="height: 50px;">
            <div class="col-xs-12">
                <div class="consol-category-label">Product Consolidations</div>
            </div>
        </div>

        <div data-bind="with: PrimaryProduct">
            <div data-bind="template: { name: 'Product-Consolidation-Product-Widget' }">
            </div>
        </div>        
    </div>

    <div class="row" style="height: 40px; border-top: 1px solid #CCC;">
        <div class="col-xs-10"></div>
    </div>

    <div class="row" style="height: 50px;">
        <div class="col-xs-12">
            <div class="consol-category-label">Variant Consolidations</div>
        </div>
    </div>

    <div data-bind="foreach: PrimaryVariantGrid">
        <div data-bind="template: { name: 'Product-Consolidation-Variant-Widget' }" 
             style="padding-bottom: 30px;">
        </div>
    </div>
</script>

<script type="text/html" id="Product-Consolidation-Product-Widget">
    <div class="row">
        <div class="col-xs-10">
            <div class="panel panel-default">                
                <table class="table product-consol">
                    <tbody>
                    <tr class="success consol-primary">
                        <td>
                            <span data-bind="text: Title"></span><br />
                            <span class="id-label">
                                Shopify Product ID: <span data-bind="text: ShopifyProductIdText"></span>
                            </span>
                        </td>

                        <td><span data-bind="text: Vendor"></span></td>
                        <td><span data-bind="text: ActiveText"></span></td>
                        <td><span>Primary</span></td>
                        <td>&nbsp;</td>
                    </tr>

                    <!-- ko if: ShowConsolidations -->
                    <!-- ko foreach: Consolidations -->
                    <tr>
                        <td class="overflow-gracefully">
                            <span data-bind="text: Title"></span><br />
                            <span class="id-label">
                                Shopify Product ID: <span data-bind="text: ShopifyProductId"></span>
                            </span>
                        </td>
                        <td><span data-bind="text: Vendor"></span></td>
                        <td><span data-bind="text: ActiveText"></span></td>
                        <td><a href="#" data-bind="click: SetPrimary"><i class="glyphicon glyphicon-star"></i> Set to Primary</a></td>
                        <td><a href="#" data-bind="click: Deconsolidate"><i class="glyphicon glyphicon-remove"></i> Remove</a></td>
                    </tr>
                    <!-- /ko -->
                    <!-- /ko -->

                    <tr>
                        <td colspan="5">
                            <span data-bind="template: { name: 'Consolidation-Expander-Synopsis' }"></span>

                            <span style="display: inline-block; width:30px;"></span>
                            <a href="#" class="consol-link-control"
                               data-bind="click: $parent.SearchForProductsPopup">
                                <i class="glyphicon glyphicon-plus"></i> Add
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="Product-Consolidation-Variant-Widget">
    <div class="row">
        <div class="col-xs-10">
            <div class="panel panel-default">

                <table class="table product-consol">
                    <tbody>
                    <tr class="success consol-primary">
                        <td class="overflow-gracefully">
                            <span data-bind="text: SkuTitleText"></span><br />
                            <span class="id-label">Shopify Variant ID:</span> 
                            <span class="id-label" data-bind="text: ShopifyVariantIdText"></span>
                        </td>
                        <td class="overflow-gracefully">
                            <span data-bind="text:Product.Title"></span>
                        </td>
                        <td><span data-bind="text: ActiveText"></span></td>
                        <td><span>Primary</span></td>
                        <td>&nbsp;</td>
                    </tr>

                    <!-- ko if: ShowConsolidations -->
                    <!-- ko foreach: Consolidations -->
                    <tr>
                        <td class="overflow-gracefully">
                            <span data-bind="text: SkuTitleText"></span><br />
                            <span class="id-label">Shopify Variant ID:</span> 
                            <span class="id-label" data-bind="text: ShopifyVariantIdText"></span>
                        </td>
                        <td class="overflow-gracefully">
                            <span data-bind="text:Product.Title"></span>
                        </td>

                        <td><span data-bind="text: ActiveText"></span></td>
                        <td><a href="#" data-bind="click: SetPrimary"><i class="glyphicon glyphicon-star"></i> Set to Primary</a></td>
                        <td><a href="#" data-bind="click: Deconsolidate"><i class="glyphicon glyphicon-remove"></i> Remove</a></td>
                    </tr>
                    <!-- /ko -->
                    <!-- /ko -->
                        
                    <tr>
                        <td colspan="5">
                            <span data-bind="template: { name: 'Consolidation-Expander-Synopsis' }"></span>
                            <span style="display: inline-block; width:30px;"></span>
                            <span data-bind="visible: $parent.AddVariantVisible">
                                <a href="#" class="consol-link-control"
                                   data-bind="click: $parent.AddVariantConsolidationPopup">
                                    <i class="glyphicon glyphicon-plus"></i> Add
                                </a>
                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</script>

<script>
    var ProfitWise = ProfitWise || {};

    // parameters = exitcallback, editcogscallback
    ProfitWise.EditProductConsolidationModel = function (parameters) {
        var self = this;

        self.ExitCallback = parameters.exitcallback || function () { };
        self.EditCogsCallback = parameters.editcogscallback || function () { };

        self.PwMasterProductId = ko.observable(null);
        self.PrimaryProduct = ko.observable();
        self.PrimaryVariantGrid = ko.observable([]);

        self.MasterProductTitle = ko.computed(function() {
            return self.PrimaryProduct() ? self.PrimaryProduct().Title : "";
        });

        self.VariantTitle = ko.computed(function () {
            return self.PrimaryVariantGrid().length + " Variant(s)";
        });

        self.Refresh = function () {
            var productState = self.PrimaryProduct().ShowConsolidations();
            var masterVariantIds =
                AQ(self.PrimaryVariantGrid())
                    .where(function(item) { return item.ShowConsolidations(); })
                    .select(function (item) { return item.PwMasterVariantId; })
                    .toArray();

            flow.exec(
                function () {
                    self.RetrieveMasterProduct(self.PwMasterProductId(), this);
                },
                function () {
                    self.PrimaryProduct().ShowConsolidations(productState);
                    var grid = AQ(self.PrimaryVariantGrid());

                    AQ(masterVariantIds)
                        .each(function(id) {
                            var gridRow = grid.firstOrDefault(function(item) {
                                return item.PwMasterVariantId == id;
                            });
                            if (gridRow != null) {
                                gridRow.ShowConsolidations(true);
                            }
                        });
                });
        };

        self.RetrieveMasterProduct = function (pwMasterProductId, callback) {
            flow.exec(
                function () {
                    self.PwMasterProductId(pwMasterProductId);
                    var settings = new ProfitWiseFunctions.AjaxSettings();
                    var ajax = new ProfitWiseFunctions.Ajax(settings);
                    var url = "/ConsolService/MasterProduct?pwMasterProductId=" + self.PwMasterProductId();
                    ajax.HttpGet(url, this);
                },
                function (data) {
                    if (!data.product) {
                        self.ExitCallback();
                        return;
                    }
                    self.LoadModel(data);
                    if (callback) {
                        callback();
                    }
                });
        };
        
        var isPrimary = function (item) { return item.IsPrimary; }

        var isNotPrimary = function (item) { return !item.IsPrimary; }

        self.SetPrimaryProduct = function(model) {            
            var settings = new ProfitWiseFunctions.AjaxSettings();
            var ajax = new ProfitWiseFunctions.Ajax(settings);
            var url = "/ConsolService/PrimaryProduct";
            var data = {
                pwMasterProductId: self.PwMasterProductId(),
                pwProductId: model.PwProductId,
            };
            ajax.HttpPost(url, data, self.Refresh);                
        };

        self.DeconsolidateProduct = function(model) {
            var settings = new ProfitWiseFunctions.AjaxSettings();
            var ajax = new ProfitWiseFunctions.Ajax(settings);
            var url = "/ConsolService/DeconsolidateProduct";
            var data = {
                pwProductId: model.PwProductId,
            };
            ajax.HttpPost(url, data, self.Refresh);
        };

        self.SetPrimaryVariant = function (model) {
            var settings = new ProfitWiseFunctions.AjaxSettings();
            var ajax = new ProfitWiseFunctions.Ajax(settings);
            var url = "/ConsolService/PrimaryVariant";
            var data = {
                pwMasterVariantId: model.PwMasterVariantId,
                pwVariantId: model.PwVariantId,
            };
            ajax.HttpPost(url, data, self.Refresh);
        };

        self.DeconsolidateVariant = function (model) {
            var settings = new ProfitWiseFunctions.AjaxSettings();
            var ajax = new ProfitWiseFunctions.Ajax(settings);
            var url = "/ConsolService/DeconsolidateVariant";
            var data = {
                pwVariantId: model.PwVariantId,
            };
            ajax.HttpPost(url, data, self.Refresh);
        };

        // Model Factories
        var activeText = function(item) {
            return item.IsActive ? "Active" : "Inactive";
        };

        var idText = function (id) {
            return id || "(None)";
        };

        self.LoadModel = function (data) {
            self.PrimaryProduct(self.MasterProductModelFactory(data.product));

            var masterVariants =
                AQ(data.variants)
                    .groupBy(function (item) { return item.PwMasterVariantId; })
                    .select(function (item) {
                        return self.MasterVariantModelFactory(item.values.toArray(), data.product);
                    })
                    .toArray();

            self.PrimaryVariantGrid(masterVariants);
        };

        self.MasterProductModelFactory = function(products) {
            var primaryProduct = AQ(products).first(isPrimary);
            primaryProduct.ShowConsolidations = ko.observable(false);
            primaryProduct.Consolidations = AQ(products).where(isNotPrimary).toArray();
            primaryProduct.ActiveText = activeText(primaryProduct);
            primaryProduct.ShopifyProductIdText = idText(primaryProduct.ShopifyProductId);
            primaryProduct.ExpanderLabel = "Product";

            AQ(primaryProduct.Consolidations).each(function(item) {
                item.SetPrimary = self.SetPrimaryProduct;
                item.Deconsolidate = self.DeconsolidateProduct;
                item.ActiveText = activeText(item);
                item.ShopifyProductIdText = idText(item.ShopifyProductId);
            });

            return primaryProduct;
        };

        var skuTitle = function(item) {
            return (item.Sku || "(No SKU)") + ' - ' + (item.Title);
        }

        self.MasterVariantModelFactory = function (variants, products) {
            var productIdFinder = function (id) {
                return AQ(products).firstOrDefault(function (x) { return x.PwProductId == id; });
            };

            var primaryVariant = AQ(variants).first(isPrimary);
            primaryVariant.Consolidations = AQ(variants).where(isNotPrimary).toArray();
            primaryVariant.ShowConsolidations = ko.observable(false);
            primaryVariant.ActiveText = activeText(primaryVariant);
            primaryVariant.ExpanderLabel = "Variant";
            primaryVariant.Product = productIdFinder(primaryVariant.PwProductId);
            primaryVariant.ShopifyVariantIdText = idText(primaryVariant.ShopifyVariantId);
            primaryVariant.SkuTitleText = skuTitle(primaryVariant);

            AQ(primaryVariant.Consolidations).each(function (item) {
                item.SetPrimary = self.SetPrimaryVariant;
                item.Deconsolidate = self.DeconsolidateVariant;
                item.ActiveText = activeText(item);
                item.ShopifyVariantIdText = idText(item.ShopifyVariantId);
                item.Product = productIdFinder(item.PwProductId);
                item.SkuTitleText = skuTitle(item);

            });

            return primaryVariant;
        };

        self.SearchForProductsPopup = function () {
            var url = ProfitWiseConfig.BaseUrl +
                '/Cogs/ProductConsolidationSearch?pwMasterProductId=' + self.PwMasterProductId();
            
            ProfitWiseShopify.LaunchModal({
                src: url,
                title: 'Search for Products to Consolidate with ' + self.MasterProductTitle(),
                width: 'large',
                height: 500,
            }, self.Refresh);
        }

        self.AddVariantVisible = ko.computed( function () { return self.PrimaryVariantGrid().length > 1; } );

        self.AddVariantConsolidationPopup = function(item) {
            console.log(item.PwMasterVariantId);

            var url = ProfitWiseConfig.BaseUrl +
                '/Cogs/AddVariantToConsolidation?' +
                    'pwMasterVariantId=' + item.PwMasterVariantId +
                    '&pwMasterProductId=' + self.PwMasterProductId();

            ProfitWiseShopify.LaunchModal({
                src: url,
                title: 'Variant Consolidation with ' + item.SkuTitleText,
                width: 'large',
                height: 500,
            }, self.Refresh);
        };

        return self;
    };
</script>