<style>
    .consol-category-label {
        color: #999;
        font-weight: 800;
        letter-spacing: 0.2em;
        text-transform: uppercase;
    }

    .consol-primary {
        font-weight: 700;
    }
    
    .product-consol tr th { color: #AAA; border:none; }
    .product-consol tr td { border:0px !important;}

    .product-consol tr td:nth-child(1), .product-consol tr th:nth-child(1) { width: 35%; }
    .product-consol tr td:nth-child(2), .product-consol tr th:nth-child(2) { width: 20%; text-align: left; }
    .product-consol tr td:nth-child(3), .product-consol tr th:nth-child(3) { width: 15%; text-align: left; }
    .product-consol tr td:nth-child(4), .product-consol tr th:nth-child(4) { width: 15%; text-align: center; }
    .product-consol tr td:nth-child(5), .product-consol tr th:nth-child(5) { width: 15%; text-align: center; }
    
    .product-consol .id-label { font-size:0.8em; }
    
    .consolidation-synposis { font-weight:700; color: #999; }

    .consol-link-control { font-weight:700; }

    input[type='text'] { width: 100px; }
</style>

<script type="text/html" id="Product-Consolidation-Header">
    <!-- Filtering and Paging -->
    <div class="row">
        <div class="col-xs-6" style="padding-top: 20px;">
            
            <h3 class="edit-product-header overflow-gracefully" 
                data-bind="text: MasterProductTitle"></h3>
            <div class="edit-product-subtitle" data-bind="text: VariantTitle"></div>
            
            <div class="edit-product-spacer"></div>

            <div class="return-link">
                <i class="glyphicon glyphicon-arrow-left"></i> &nbsp;
                <a href="#" data-bind="click: ExitCallback">
                    Return to Product Search
                </a>
            </div>
        </div>
        
        <div class="col-xs-6" style="text-align: right; padding-top: 40px;">
            <a href="#" class="btn btn-primary" style="width:250px;" data-bind="click: EditCogsCallback">
                <i class="glyphicon glyphicon-pencil"></i> &nbsp; Edit Product CoGS
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 edit-product-table-header">
        </div>
    </div>
</script>

<script id="Consolidation-Expander" type="text/html">
    <span data-bind="ifnot: $data.Visible">
        <a href="#" data-bind="click: function() { $data.Visible(true); }" class="consol-link-control">
            <i class="glyphicon glyphicon-chevron-down"></i> Show Consolidations
        </a>
    </span>
    <span data-bind="if: $data.Visible">
        <a href="#" data-bind="click: function() { $data.Visible(false); }" class="consol-link-control">
            <i class="glyphicon glyphicon-chevron-up"></i> Hide Consolidations
        </a>
    </span>
</script>

<script type="text/html" id="Product-Consolidation-Body">
    <div data-bind="with: PrimaryProduct">
        <div data-bind="template: { name: 'Product-Consolidation-Product-Widget' }">
        </div>
    </div>

    <div class="row" style="height: 40px;">
        <div class="col-xs-10"></div>
    </div>

    <!-- Variants here... -->
</script>

<script type="text/html" id="Product-Consolidation-Product-Widget">
    <div style="padding-top: 40px; padding-bottom: 40px; border-bottom: 1px solid #CCC;">
        <div class="row" style="height: 50px;">
            <div class="col-xs-6">
                <div class="consol-category-label">Product Consolidations</div>
            </div>
            <div class="col-xs-4" style="text-align: right;">
            </div>
        </div>

        <div class="row">
            <div class="col-xs-10">
                <table class="table table-striped product-consol">
                    <tbody>
                        <tr>
                            <td>
                                <span data-bind="text: Title"></span><br />
                                <span class="id-label">
                                    Shopify Product ID:
                                    <span data-bind="text: ShopifyProductId"></span>
                                </span>
                            </td>

                            <td><span data-bind="text: Vendor"></span></td>
                            <td>
                                <span data-bind="if: IsActive">Active</span>
                                <span data-bind="ifnot: IsActive">Inactive</span>
                            </td>
                            <td><span class="consol-primary">Primary</span></td>
                            <td><a href="#"><i class="glyphicon glyphicon-remove"></i> Remove</a></td>
                        </tr>

                        <!-- ko if: ShowConsolidations -->
                        <tr>
                            <td class="overflow-gracefully">
                                3D Universe PLA 2.85 mm<br />
                                <span class="id-label">Shopify Product ID: 9123123</span>
                            </td>
                            <td>3D Universe</td>
                            <td>Inactive</td>
                            <td><a href="#"><i class="glyphicon glyphicon-star"></i> Set to Primary</a></td>
                            <td><a href="#"><i class="glyphicon glyphicon-remove"></i> Remove</a></td>
                        </tr>
                        <tr>
                            <td>
                                3D Universe PLA 2.85 mm<br />
                                <span class="id-label">Shopify Product ID: 9123123</span>
                            </td>
                            <td>3D Universe</td>
                            <td>Inactive</td>
                            <td><a href="#"><i class="glyphicon glyphicon-star"></i> Set to Primary</a></td>
                            <td><a href="#"><i class="glyphicon glyphicon-remove"></i> Remove</a></td>
                        </tr>
                        <!-- /ko -->
                    </tbody>
                </table>

                <div>
                    <span class="consolidation-synposis" data-bind="if: Consolidations.length == 0">
                        This Product is not consolidated with any other Products
                    </span>

                    <span class="consolidation-synposis" data-bind="if: Consolidations.length > 0">
                        <span>
                            This Product is consolidated with
                            <span data-bind="text: Consolidations.length"></span> other Products
                        </span>

                        <span style="display: inline-block; width:30px;"></span>

                        <span data-bind="template: { name: 'Consolidation-Expander',
                                                data: { Visible: ShowConsolidations } }"></span>
                    </span>

                    <span style="display: inline-block; width:30px;"></span>
                    <a href="#" class="consol-link-control"
                       data-bind="click: $parent.SearchForProductsPopup">
                        <i class="glyphicon glyphicon-plus"></i> Add Consolidations
                    </a>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="Product-Consolidation-Variant-Widget">
    <div style="padding-top: 40px; padding-bottom: 40px; border-bottom: 1px solid #CCC;">
        <div class="row" style="height: 50px;">
            <div class="col-xs-6">
                <div class="consol-category-label">Product Consolidations</div>
            </div>
            <div class="col-xs-4" style="text-align: right;">
            </div>
        </div>

        <div class="row">
            <div class="col-xs-10">
                <table class="table table-striped product-consol">
                    <tbody>
                        <tr>
                            <td>
                                <span data-bind="text: Title"></span><br />
                                <span class="id-label">
                                    Shopify Product ID:
                                    <span data-bind="text: ShopifyProductId"></span>
                                </span>
                            </td>

                            <td><span data-bind="text: Vendor"></span></td>
                            <td>
                                <span data-bind="if: IsActive">Active</span>
                                <span data-bind="ifnot: IsActive">Inactive</span>
                            </td>
                            <td><span class="consol-primary">Primary</span></td>
                            <td><a href="#"><i class="glyphicon glyphicon-remove"></i> Remove</a></td>
                        </tr>

                        <!-- ko if: ShowConsolidations -->
                        <tr>
                            <td class="overflow-gracefully">
                                3D Universe PLA 2.85 mm<br />
                                <span class="id-label">Shopify Product ID: 9123123</span>
                            </td>
                            <td>3D Universe</td>
                            <td>Inactive</td>
                            <td><a href="#"><i class="glyphicon glyphicon-star"></i> Set to Primary</a></td>
                            <td><a href="#"><i class="glyphicon glyphicon-remove"></i> Remove</a></td>
                        </tr>
                        <tr>
                            <td>
                                3D Universe PLA 2.85 mm<br />
                                <span class="id-label">Shopify Product ID: 9123123</span>
                            </td>
                            <td>3D Universe</td>
                            <td>Inactive</td>
                            <td><a href="#"><i class="glyphicon glyphicon-star"></i> Set to Primary</a></td>
                            <td><a href="#"><i class="glyphicon glyphicon-remove"></i> Remove</a></td>
                        </tr>
                        <!-- /ko -->
                    </tbody>
                </table>

                <div>
                    <span class="consolidation-synposis" data-bind="if: Consolidations.length == 0">
                        This Product is not consolidated with any other Products
                    </span>

                    <span class="consolidation-synposis" data-bind="if: Consolidations.length > 0">
                        <span>
                            This Product is consolidated with
                            <span data-bind="text: Consolidations.length"></span> other Products
                        </span>

                        <span style="display: inline-block; width:30px;"></span>

                        <span data-bind="template: { name: 'Consolidation-Expander',
                                                data: { Visible: ShowConsolidations } }"></span>
                    </span>

                    <span style="display: inline-block; width:30px;"></span>
                    <a href="#" class="consol-link-control"
                       data-bind="click: $root.SearchForProductsPopup">
                        <i class="glyphicon glyphicon-plus"></i> Add Consolidations
                    </a>
                </div>
            </div>
        </div>
    </div>
</script>

<script>
    var ProfitWise = ProfitWise || {};

    // parameters = exitcallback, editcogscallback
    ProfitWise.EditProductConsolidationModel = function (parameters) {
        var self = this;

        self.ExitCallback = parameters.exitcallback || function () { };
        self.EditCogsCallback = parameters.editcogscallback || function () { };

        self.PwMasterProductId = ko.observable(null);
        self.PrimaryProduct = ko.observable();
        self.PrimaryVariantGrid = ko.observable([]);

        self.MasterProductTitle = ko.computed(function() {
            return self.PrimaryProduct() ? self.PrimaryProduct().Title : "";
        });

        // NOTE: need to scroll to the current selection

        // *** Sorting stuff...
        self.VariantTitle = ko.computed(function () {
            return self.PrimaryVariantGrid().length + " Variant(s)";
        });

        self.RetrieveMasterProduct = function (pwMasterProductId, callback) {
            flow.exec(
                function () {
                    self.PwMasterProductId(pwMasterProductId);
                    var settings = new ProfitWiseFunctions.AjaxSettings();
                    var ajax = new ProfitWiseFunctions.Ajax(settings);
                    var url = "/ConsolService/MasterProduct?pwMasterProductId=" + self.PwMasterProductId();
                    ajax.HttpGet(url, this);
                },
                function (data) {
                    console.log(data);

                    if (!data.product) {
                        self.ExitCallback();
                        return;
                    }

                    self.LoadMasterProduct(data);
                    if (callback) {
                        callback();
                    }
                });
        };

        self.LoadMasterProduct = function (data) {
            self.PrimaryProduct(self.MasterProductModelFactory(data.product));
            
            var masterVariants =
                AQ(data.variants)
                    .groupBy(function(item) { return item.PwMasterVariantId; })
                    .select(function(item) { return self.MasterVariantModelFactory(item.values.toArray()); })
                    .toArray();

            self.PrimaryVariantGrid(masterVariants);
        };

        self.RefreshMasterProduct = function () {
            self.RetrieveMasterProduct(self.PwMasterProductId());
        };


        var isPrimary = function (item) { return item.IsPrimary; }
        var isNotPrimary = function (item) { return !item.IsPrimary; }

        self.SetPrimaryProduct = function(model) {

        };

        self.DeconsolidateProduct = function(model) {

        };

        self.SetPrimaryVariant = function (model) {

        };

        self.DeconsolidateVariant = function (model) {

        };

        self.MasterProductModelFactory = function(products) {
            var primaryProduct = AQ(products).first(isPrimary);
            primaryProduct.ShowConsolidations = ko.observable(false);
            primaryProduct.Consolidations = AQ(products).where(isNotPrimary).toArray();

            AQ(primaryProduct.Consolidations).each(function(item) {
                item.SetPrimary = self.SetPrimaryProduct;
                item.Deconsolidate = self.DeconsolidateProduct;
            });

            return primaryProduct;
        };

        self.MasterVariantModelFactory = function(variants) {
            console.log("Loading Master Variant (group of Variants");
            console.log(variants);
            
            var primaryVariant = AQ(variants).first(isPrimary);
            primaryVariant.ShowConsolidations = ko.observable(false);
            primaryVariant.Consolidations = AQ(variants).where(isNotPrimary).toArray();

            AQ(primaryVariant.Consolidations).each(function (item) {
                item.SetPrimary = self.SetPrimaryVariant;
                item.Deconsolidate = self.DeconsolidateVariant;
            });

            return primaryVariant;
        };

        self.SearchForProductsPopup = function () {
            var url = ProfitWiseConfig.BaseUrl +
                '/Cogs/ProductConsolidationSearch?pwMasterProductId=' + self.PwMasterProductId();
            
            ProfitWiseShopify.LaunchModal({
                src: url,
                title: 'Search for Products to Consolidate with ' + self.MasterProductTitle(),
                width: 'large',
                height: 500,
            }, self.RefreshMasterProduct);
        }

        return self;
    };
</script>