@model ProfitWise.Data.Model.PwCogsProduct

@{
    ViewBag.CommonContext.PageTitle = "Bulk Edit Product Variant CoGS";
    Layout = "~/Views/Shared/_UserLayoutDialogBox.cshtml";
}


<script id="Main-Template" type="text/html">
    <h4 style="font-weight: 600;" data-bind="text: $data.ProductTitle"></h4>
    <p>
        Would you like to Include or Exclude all <span data-bind="text: VariantCount"></span> Variants?
    </p>

    <div style="height: 24px;"></div>
    <form class="form-inline">
        <div class="form-group">
            <a href="#" data-bind="click: $root.IncludeAllProductVariants" class="form-control btn btn-primary" style="width: 48%;"><i class="glyphicon glyphicon-eye-open"></i> &nbsp; Include ALL Variants</a>
            <a href="#" data-bind="click: $root.ExcludeAllProductVariants" class="form-control btn btn-primary" style="width: 48%;"><i class="glyphicon glyphicon-eye-close"></i> &nbsp; Exclude ALL Variants</a>
        </div>
    </form>
</script>

<div data-bind="template: { name: 'Main-Template' }">
</div>

<script>
    var masterProductId = @Model.PwMasterProductId;
    var productTitle = '@Model.Title';
    var variantCount = @Model.Variants.Count;

    $(document)
        .ready(function () {
            var ProfitWise = ProfitWise || {};

            ProfitWise.ExcludedModel = function() {
                var self = this;

                self.MasterProductId = ko.observable();
                self.ProductTitle = ko.observable();
                self.VariantCount = ko.observable();
                self.IncludeAllProductVariants = function() {
                    self.UpdateServer(true);

                };

                self.ExcludeAllProductVariants = function() {
                    self.UpdateServer(false);
                };

                
                self.UpdateServer = function(value) {
                    var settings = new ProfitWiseFunctions.AjaxSettings(true);
                    var ajax = new ProfitWiseFunctions.Ajax(settings);
                    var data = {
                        masterProductId: self.MasterProductId(),
                        value: value,
                    };

                    ajax.HttpPost("/CogsService/ExcludeById", data,
                        function() {
                            ShopifyApp.Modal.close(true);
                        });
                }
            };


            var model = new ProfitWise.ExcludedModel();
            model.ProductTitle(productTitle);
            model.VariantCount(variantCount);
            model.MasterProductId(masterProductId);
            ko.applyBindings(model);
            window.ModelHandle = model;
        });
</script>
   
