@using ProfitWise.Web.Attributes
@model ProfitWise.Web.Models.SimplePickList

@{
    Context.AuthenticatedContext().PageTitle = "Bulk Exclude/Include Products";
    Layout = "~/Views/Shared/_DialogLayout.cshtml";
}


<script id="Main-Template" type="text/html">
    <h4 style="font-weight: 600;" data-bind="text: $data.ProductTitle"></h4>
    <p>
        Would you like to Include/Exclude all Products in the current search results from ProfitWise reporting?
    </p>

    <div style="height: 24px;"></div>

    <div class="alert alert-warning" role="alert">
        <strong>WARNING!</strong> Clicking either button will affect all Variants of all Products in your search
    </div>
    <div style="height: 24px;"></div>

    <form class="form-inline">
        <div class="form-group">
            <a href="#" data-bind="click: $root.IncludeAllProducts" class="form-control btn btn-default" style="width: 48%;"><i class="glyphicon glyphicon-eye-open"></i> &nbsp; Include ALL Products</a>
            <a href="#" data-bind="click: $root.ExcludeAllProducts" class="form-control btn btn-primary" style="width: 48%;"><i class="glyphicon glyphicon-eye-close"></i> &nbsp; Exclude ALL Products</a>
        </div>
    </form>
</script>

<div data-bind="template: { name: 'Main-Template' }">
</div>


<script>
    var pickListId = @Model.Id;

    $(document)
        .ready(function () {
            var ProfitWise = ProfitWise || {};
            
            ProfitWise.ExcludedModel = function() {
                var self = this;

                self.PickListId = ko.observable();

                self.IncludeAllProducts = function() {
                    self.UpdateServer(false);
                };

                self.ExcludeAllProducts = function() {
                    self.UpdateServer(true);
                };

                self.UpdateServer = function(value) {
                        var settings = new ProfitWiseFunctions.AjaxSettings(true);
                        var ajax = new ProfitWiseFunctions.Ajax(settings);
                        var data = {
                            pickListId: self.PickListId() ,
                            value: value,
                        };
                        
                        ajax.HttpPost(
                            "/CogsService/ExcludeByPickList", 
                            data,
                            function () {
                                ProfitWiseShopify.CloseModal({ result: true });
                            });

                }
            };

            var model = new ProfitWise.ExcludedModel();
            ko.applyBindings(model);
            model.PickListId(pickListId);
            window.ModelHandle = model;
        });
</script>
   
