@using ProfitWise.Web.Attributes
@using ProfitWise.Web.Models
@model ProductConsolidationSearchModel
@{
    Context.AuthenticatedContext().PageTitle = "Search for Products to Consolidate With";
    Layout = "~/Views/Shared/_DialogLayout.cshtml";
}

@Html.Partial("~/Views/SharedTemplates/_PagingWidget.cshtml")
@Html.Partial("~/Views/SharedTemplates/_SortingColumnWidget.cshtml")

<style>
    body { overflow-y: scroll !important; padding: 0px !important; }
    .search-grid tr { height: 60px; }
    .search-grid tr td:nth-child(1), .search-heading tr th:nth-child(1) {
        width: 20%; vertical-align: middle;
    }
    .search-grid tr td:nth-child(2), .search-heading tr th:nth-child(2) {
        width: 50%; vertical-align: middle;
    }
    .search-grid tr td:nth-child(3), .search-heading tr th:nth-child(3) {
        width: 30%; vertical-align: middle;
    }
</style>


<script type="text/html" id="Main-Template">
    <div class="fixed-header-container" style="padding-left: 0px; padding-right: 0px;">
        <div class="standard-header-sleeve" style="height: 163px;">

            <!-- This element will track with the scrollbar via JavaScript wiring to onscroll-->
            <div class="standard-header" 
                 style="width:100% !important; min-width: 0 !important; padding-top:20px; padding-right:20px; padding-left:20px; border-bottom: 1px dashed #CCC;">
                
                <div data-bind="template: { name: 'Top-Header' }"></div>
            </div>
        </div>
    </div>

    <div style="position: absolute; overflow: auto; width:100%;">
        <div style="height: 163px;"></div>
        <div style="width:100%; background-color:#FFF; overflow:auto; padding-top:0px; padding-left:30px; padding-right: 30px;">
            <table class="table search-grid">
                <tbody data-bind="foreach: SearchGrid">  
                <tr>
                    <td class="overflow-gracefully">
                        <div data-bind="text: Vendor"></div>
                    </td>
                    <td class="overflow-gracefully">
                        <span data-bind="text: Title"></span>
                    </td>
                    <td style="text-align: right;">
                        <span data-bind="ifnot: Consolidated">
                            <a href="#" data-bind="click: $parent.AddToConsolidation">
                                <i class="glyphicon glyphicon-plus"></i> Add to Consolidation
                            </a>
                        </span>
                        <span data-bind="if: Consolidated">N/A</span>
                    </td>
                </tr>                  
                </tbody>
            </table>
        </div>
    </div>
</script>

<script type="text/html" id="Top-Header">
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group" style="margin-bottom: 5px; height:50px;">
                <div class="input-group">
                    <input type="text" class="form-control"
                           placeholder="Search for Products by Title, Vendor, or Sku"
                           data-bind="value: SearchText,
                               valueUpdate: 'afterkeydown' ,
                               hasFocus: true,
                               event: { keyup: KeyPressCallback }" />

                    <div class="input-group-addon btn btn-primary" data-bind="click: SearchClick">
                        Search &nbsp;<i class="glyphicon glyphicon-search"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6" style="text-align: left;"
             data-bind="template: { name: 'Paging-Widget', data: $data.PagingModel }">
        </div>

        <div class="col-xs-6" style="text-align: right;">
            <a href="#" data-bind="click: OkClick"
               style="width: 125px;" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i>&nbsp;Close</a>
        </div>
    </div>

    <div class="row" data-bind="visible: ProductsFound">
        <div class="col-xs-12">
            <!-- The margin bumps this downward so it hugs the bottom of the header -->
            <table class="table search-heading" style="margin-top: 10px;">
                <thead>
                <tr>
                    <th data-bind="template: { name: 'Sortable-Column-Header',
                                data: { ColumnIndex: 0, ColumnName: 'Vendor', Model: $root.SortingModel } }">
                    </th>
                    <th data-bind="template: { name: 'Sortable-Column-Header',
                                data: { ColumnIndex: 1, ColumnName: 'Product', Model: $root.SortingModel } }">
                    </th>
                    <th></th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    
    <div data-bind="visible: !ProductsFound()" style="text-align:center; padding-top:120px;">
        <h1 style="font-weight:700; font-size:2.5em; color:#CCC;">No Products Found</h1>
        <h4 style="font-weight:100;">Try using different search terms</h4>
    </div>
</script>

<!-- KnockoutJS Root Element -->
<div data-bind="template: { name: 'Main-Template' }"></div>

<script>
    var ProfitWiseWidgets = ProfitWiseWidgets || {};

    ProfitWiseWidgets.ProductConsolSearchModel = function() {
        var self = this;

        self.PickListId = ko.observable();
        self.SearchText = ko.observable();
        self.SearchGrid = ko.observableArray();
        self.ProductsFound = ko.computed(function () { return self.SearchGrid().length > 0 });
        
        self.SearchClick = function () {
            flow.exec(
                function() {
                    var search = {
                        pickListId: self.PickListId(),
                        terms: self.SearchText(), 
                        pwMasterProductId: @Model.PwMasterProductId,
                    };

                    var settings = new ProfitWiseFunctions.AjaxSettings(true);
                    var ajax = new ProfitWiseFunctions.Ajax(settings);
                    ajax.HttpPost("/ConsolService/Search", search, this);
                },
                function(data) {
                    self.PickListId(data.PickListId);
                    self.PagingModel.PageNumber(1);
                    self.LoadDataForCurrentPage();
                });
        };

        self.LoadDataForCurrentPage = function (callback) {
            flow.exec(
                function () {
                    var resultsPaging = {
                        PickListId: self.PickListId(),
                        PageNumber: self.PagingModel.PageNumber(),
                        PageSize: self.PagingModel.PageSize(),
                        SortByColumn: self.SortingModel.SelectedColumnIndex(),
                        SortByDirectionDown: self.SortingModel.SortByDirectionDown(),
                    };

                    var settings = new ProfitWiseFunctions.AjaxSettings(true);
                    var ajax = new ProfitWiseFunctions.Ajax(settings);
                    ajax.HttpPost("/ConsolService/RetrieveResults", resultsPaging, this);
                },
                function (data) {
                    if (!data.pickListValid) {
                        ShopifyApp.Modal.alert(
                            "Your query appears to have expired. The page will refresh so you can re-enter parameters.",
                            function (result) { location.reload(); });
                        return;
                    };

                    AQ(data.products).each(function (item) {
                        item.Vendor = item.Vendor || "(No Vendor)";
                        item.Consolidated = false // TODO Remove
                    });

                    self.SearchGrid.removeAll();
                    self.SearchGrid(data.products);

                    self.PagingModel.RecordCount(data.totalRecords);

                    $(document).scrollTop(0);

                    if (callback) {
                        callback();
                    }
                });
        };

        self.AddToConsolidation = function(item) {
            flow.exec(
                function () {
                    var settings = new ProfitWiseFunctions.AjaxSettings(true);
                    var ajax = new ProfitWiseFunctions.Ajax(settings);
                    ajax.HttpPost(
                        "/ConsolService/ConsolidateProduct", {
                            targetMasterProductId: @Model.PwMasterProductId,
                            inboundMasterProductId: item.PwMasterProductId,
                        }, this);
                },
                function () {
                    self.LoadDataForCurrentPage();
                }
            );
        }

        self.KeyPressCallback = function () {
            if (event.keyCode == 13) {
                self.SearchClick();
                return false;
            } else {
                return true;
            }
        };

        self.OkClick = function() { ProfitWiseShopify.CloseModal({ result: true }); };

        self.SortingModel = new ProfitWiseWidgets.SortingModel();
        self.SortingModel.Callback = function () { self.LoadDataForCurrentPage(); };

        self.PagingModel = new ProfitWiseWidgets.PagingModel();
        self.PagingModel.PageSize(50);
        self.PagingModel.PageNumber(1);
        self.PagingModel.Callback = self.LoadDataForCurrentPage;

        return self;
    };

    var model = new ProfitWiseWidgets.ProductConsolSearchModel();
    ko.applyBindings(model);
    model.SearchClick();
</script>

