@using ProfitWise.Web.Attributes
@model ProfitWise.Web.Models.SimplePickList

@{
    Context.AuthenticatedContext().PageTitle = "Bulk Set Stocked Directly for Products";
    Layout = "~/Views/Shared/_DialogLayout.cshtml";
}


<script id="Main-Template" type="text/html">
    <p>
        How would you like to set Stocked Directly for all the Product Variants in your current search results?
    </p>

    <div style="height: 24px;"></div>

    <div class="alert alert-warning" role="alert">
        <strong>WARNING!</strong> This will affect all Variants of all Products in your search
    </div>

    <div style="height: 24px;"></div>

    <form class="form-inline">
        <div class="form-group">
            <a href="#" data-bind="click: $root.SetAllToStockedDirectly" class="form-control btn btn-primary" style="width: 48%;"><i class="glyphicon glyphicon-ok"></i> &nbsp; Mark ALL as Stocked Directly</a>
            <a href="#" data-bind="click: $root.SetNoneToStockedDirectly" class="form-control btn btn-primary" style="width: 48%;"><i class="glyphicon glyphicon-remove"></i> &nbsp; Mark NONE as Stocked Directly</a>
        </div>
    </form>
</script>

<div data-bind="template: { name: 'Main-Template' }">
</div>

<script>
    var pickListId = @Model.Id;

    $(document)
        .ready(function () {
            var ProfitWise = ProfitWise || {};

            ProfitWise.StockedDirectlyModel = function() {
                var self = this;

                self.PickListId = ko.observable();

                self.SetAllToStockedDirectly = function () {
                    self.SetStockedDirectly(true);
                };

                self.SetNoneToStockedDirectly = function() {
                    self.SetStockedDirectly(false);
                };

                self.SetStockedDirectly = function (value) {
                    var settings = new ProfitWiseFunctions.AjaxSettings(true);
                    var ajax = new ProfitWiseFunctions.Ajax(settings);
                    var data = {
                        pickListId: self.PickListId() ,
                        newValue: value,
                    };

                    ajax.HttpPost(
                        "/CogsService/StockedDirectlyByPickList", 
                        data,
                        function () {
                            ProfitWiseShopify.CloseModal({ result: true });
                        });
                }
            };

            var model = new ProfitWise.StockedDirectlyModel();
            ko.applyBindings(model);
            model.PickListId(pickListId);
            window.ModelHandle = model;
        });
</script>
