@using ProfitWise.Web.Models
@model ProfitWise.Web.Attributes.ErrorModel
@{
    var commonContext = ViewBag.CommonContext as CommonContext;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE">
    <title>@commonContext.FullyBrandedPageTitle</title>

    @Html.Partial("_StyleAndScripts")

    <script>
        ProfitWiseShopify.AppInitialize('@commonContext.ShopifyApiKey', '@commonContext.ShopUrl');
    </script>
</head>

<body>
<h1>System Error - Please Try Again</h1>
</body>
</html>
