@using ProfitWise.Web.Plumbing
@model ProfitWise.Web.Attributes.ErrorModel
@{
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<div class="system-page">
    <h2 class="header">ProfitWise - System Error</h2>
    <h4>An error occurred while processing your request.</h4>
    <div class="top-spacer"></div>

    <p>
        We're sorry, but we've just encountered a Server Fault. 
        Once our alerting system notifies us, we'll have that fixed as soon as possible.
    </p>
    <p>
        Please navigate back to Shopify Apps and try restarting ProfitWise.
        If the issue persists, reach out our support team and we'll gladly provide assistance.
    </p>
</div>

