@model ProfitWise.Web.Attributes.ErrorModel
@{
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<div class="system-page">
    <h2 class="header">ProfitWise - Http 404 "Page Not Found"</h2>
    <h4>An error occurred while processing your request.</h4>
    <div class="top-spacer"></div>
    <p>
        We're sorry, but there is no resource located at that address.
    </p>
</div>

