@model ProfitWise.Web.Attributes.ErrorModel
@{
    Layout = "~/Views/Shared/_AuthenticatedLayout.cshtml";
}

<div class="exception">
    <h2 class="header">ProfitWise - System Error</h2>
    <h4>An error occurred while processing your request.</h4>
    <div class="top-spacer"></div>
    <p>
        We're sorry, but we've just encountered a Server Fault. We're working hard to have that fixed as soon as possible.
    </p>

    <p>
        Please try refreshing your browser. Or, you can click <a href="@Model.ReturnUrl">click here to navigate back</a>.
        If the issue persists, please contact our support team.
    </p>
</div>

