@model ProfitWise.Web.Attributes.ErrorModel
@{
    ViewBag.Title = "ProfitWise - System Error";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="exception">
    <h2 class="header">ProfitWise - Http 400 "Page Not Found"</h2>
    <h4>An error occurred while processing your request.</h4>
    <div class="top-spacer"></div>
    <p>
        We're sorry, but there is no resource located at that address.
    </p>
</div>

