<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <profitWiseConfiguration xdt:Transform="Replace"
      ShopifyApiKey="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAufiPN2IGZkCUkM2OogLyKgQAAAACAAAAAAAQZgAAAAEAACAAAACDh88Ml55O2JlScYSjD6ji99XZvj4EqdWL+qMhVi6YSwAAAAAOgAAAAAIAACAAAAByC2SfwB2Jac6QRYIzfPelij6Vpg1mJcqli6+jH+wuuVAAAADhBWfRjXjHVKg10sE4kp8uPr57Fxk/icbdag9xCF4UkQnhzFHLpyxovETFwX6OqeL55ufxOdzw1cz10kuhtQofGykwApFzyUvPgUYvqFIf2UAAAADQYegQA1Pt0tjdjGTvCLg31pRxbEbbgEqF94AwJVbEgvqKhMQ2QUORdqhg5/VDgXAAyMJKN9xkoaBwvF7SYKHC"
      ShopifyApiSecret="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAufiPN2IGZkCUkM2OogLyKgQAAAACAAAAAAAQZgAAAAEAACAAAAABaqeNr1BQByVi/IWRtzOHf/IFcwtcpDDV0s0r27pmIgAAAAAOgAAAAAIAACAAAAC5vwt1B6patNWJ/wjbE9VYTrJKjancbl89begnvU/ejVAAAABGljqE0vKlXJKZgnbEZjS3TYD2ebMO+K6ihD5+jIYAsAhUs8nvQMdDLASnD+ucJnKkiS5xcSIhsNJqCIZ6iG5BvJgDiCVVcFa20y5ZPZp3TkAAAABAZ5x/cMKjoCZBDbKQNQsvVNo9zgyW+v1/05VRbq/KkCj+M2mInZpBqQYWhvH0kd3zbM6wBcZ+nRnxXvsAhVXx"
      ClaimKey="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAufiPN2IGZkCUkM2OogLyKgQAAAACAAAAAAAQZgAAAAEAACAAAAB7yTfF5wmGKGfpGPZ84Ns3V0ySwJ8yaUcrp3/2EBG44QAAAAAOgAAAAAIAACAAAAB6yKJXx8bO7LDwulRDWTJ12vqbyQ1dSKK6JTx563LeolAAAAAH4YviBtPsUVxJ4LPo3HSqgBWRo8mV5wHR8mGj5A7BVAsqcG8lUtMKL8Uk/t4XPMlNMy9iiBXIDaMfK8RDlA51xBAe9P6vFOSZa+sCmAYE30AAAADoenNqwpFJ1BpI54Unadv5IytMlKgCPv6s13+2BptBA1q0HH3uDtJN0WktcLsUoOjhUA6Xg7Mz/biVM4NWdthQ"
      ClaimIv="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAufiPN2IGZkCUkM2OogLyKgQAAAACAAAAAAAQZgAAAAEAACAAAADkhwN5NEwW4Gn64UiBzsqPRQNH103oRieM1qls58UU7wAAAAAOgAAAAAIAACAAAABsQIQLNCQPIEkVPixoJm1KCyWDrEhmG5kXBn8fJ6ZM/jAAAAAWX2bhdXV2AIAdHIjv8fex5xtBlmYN4aVK28Infz1HGwT5mqm25lD+6+sd809ZIAlAAAAAzH96m1eUJibelEFAPbYAYOOmT1CweXN0r5W2LdNd5sc4Ttj8dFOXWj0b3w7Mtn/0B+YSpu6vZ9ylcBCSaqx7NQ==" />

</configuration>

