@model ProfitWise.Web.Attributes.ErrorModel

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<p>Hey, look, we're sorry about the Server Fault. We'll have that cleared up soon!</p>

