@model ProfitWise.Web.Models.AuthorizationProblemModel
@{
    ViewBag.Title = "ProfitWise - Refresh Shopify Access";
}

<div class="exception">
    <h2 class="header">ProfitWise - Refresh Shopify Access</h2>
    <h4>It appears your Shopify Access has expired or is invalid.</h4>
    <div style="height: 30px;"></div>
    <p>
        Let's try logging you in again <a href="@Model.ReturnUrl">by clicking here</a>.
    </p>
</div>

