@using ProfitWise.Web.Plumbing
@model ProfitWise.Web.Models.ChargeConfirmModel
@{
    ViewBag.Title = "ProfitWise - Confirm Sign-up";
    //Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<div style="font-family: Arial; color: #AAA;">
    <h2 class="header">ProfitWise - Confirm Subscription Sign-up</h2>
    <h4>Redirecting to Shopify...</h4>
    <img src="@GlobalConfig.BaseUrl/Content/images/spinner.gif"/>
</div>
<script>
    window.top.location = '@Model.ConfirmationUrl';
</script>
