@using Push.Utilities.Helpers
@model ProfitWise.Web.Models.AuthorizationProblemModel
@{
    ViewBag.Title = "ProfitWise - External Login Failure";
}

<div class="exception">
    <h2 class="header">ProfitWise - External Login Failure</h2>
    <h4>It appears that something went wrong while authorizing your Shopify Account.</h4>

    <div style="height: 25px;"></div>

    <p>
        @if (!Model.ReturnUrl.IsNullOrEmpty())
        {
            @:You can retry by <a href="@Model.ReturnUrl">clicking here</a>. 
        }
        else
        {
            @:You can try re-opening ProfitWise from Shopify Apps.
        }
         If the issue persists, feel free to reach out to our Support Team us at any time.
    </p>
</div>
