@using Microsoft.Owin.Security
@model OAuthSandbox.Models.ShopifyAuthIndexModel

@{
    ViewBag.Title = "title";
}

<h2>Shopify Authorization - Landing Page</h2>


@using (Html.BeginForm("ExternalLogin", "ShopifyAuth", new { ReturnUrl = Model .ReturnUrl })) {
    @Html.AntiForgeryToken()
    <div id="socialLoginList">
        <p>
            <label>Please Enter Your Shop Name:</label>
            <input name="shopname" id="shopname" />
            <button type="submit" class="btn btn-default" id="submit" name="submit" value="shopify"
                    title="Log in using your Shopify Shop">Log in using your Shopify Shop</button>
        </p>
    </div>
}

