@using ProfitWise.Web.Plumbing
@model ProfitWise.Web.Models.JavaScriptRedirectModel

<div style="font-family: Arial; color: #AAA;">
    <h2 class="header">@Model.Header</h2>
    <h4>@Model.SubTitle</h4>
    <img src="@GlobalConfig.BaseUrl/Content/images/spinner.gif"/>
</div>
<script>
    window.top.location = '@Model.Url';
</script>
