@using Microsoft.Owin.Security
@model OAuthSandbox.Models.ShopifyAuthIndexModel

@{
    ViewBag.Title = "title";
}

<h2>Shopify Authorization</h2>

<p>Hello ProfitWise User. It appears you are no longer logged into ProfitWise.
    If you are in Shopify, please try refreshing your page. If not, go to Shopify and relaunch ProfitWise from Apps.</p>

