@{
    ViewBag.Title = "ProfitWise - Authorization Failure";
}

<div class="exception">
    <h2 class="header">ProfitWise - Authorization Failure</h2>
    <h4>Something went wrong while attempting to authorize your Shopify account.</h4>
    <div class="top-spacer"></div>
    <p>
        If you are an active ProfitWise user, <a href="@Model.ReturnUrl">click here to retry</a>.
    </p>
</div>
