@model ProfitWise.Web.Models.AuthorizationProblemModel
@{
    ViewBag.Title = "ProfitWise - Technical Issue";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<div class="system-page">
    <h2 class="header">ProfitWise - Store Data Access</h2>
    <h4>We're having technical difficulties accessing your data</h4>
    <div style="height: 25px;"></div>
    <p>
        If you're seeing this message, then our alerting system has informed us of a problem
        that ProfitWise is having while accessing your store's data. Please check your email
        as our support team will have already reached out to you.
    </p>
    <p>        
        <strong>Every ProfitWise customer is valuable to us!</strong><br />
        Please bear with us, as we are in the process of working with Shopify's team to resolve 
        the data access issue. Stay tuned, and we'll let you as soon as everything is fixed.
    </p>
    <p>
        If you have any questions, the ProfitWise Support Team can be reached via email at
        <a href="support@logicautomated.com">support@logicautomated.com</a>.
    </p>
</div>

