@using Microsoft.Owin.Security
@model OAuthSandbox.Models.ShopifyAuthIndexModel

@{
    ViewBag.Title = "title";
}

<h2>Shopify Authorization</h2>

<p>It appears you are not logged into ProfitWise.</p>


<p>If you are in seeing this in Shopify, please try refreshing your page. If not, please go to Shopify and relaunch ProfitWise from Apps.</p>


@using (Html.BeginForm("ExternalLogin", "ShopifyAuth", new {ReturnUrl = Model.ReturnUrl}))
{
    @Html.AntiForgeryToken()
    <div>
        <p>
            <label>Or, you can enter your Shop Name here, and we'll redirect to Shopify for authorization:</label>
            <input name="shopname" id="shopname"/>
            <button type="submit" class="btn btn-default" id="submit" name="submit" value="shopify"
                    title="Log in using your Shopify Shop">
                Log in using your Shopify Shop
            </button>
        </p>
    </div>
}
