@model ProfitWise.Web.Models.UnauthorizedAccessModel
@{
    ViewBag.Title = "Unauthorized Access";
}

<h2>ProfitWise - Unauthorized Access</h2>
<h4>It appears you are not logged into ProfitWise.</h4>
<div style="height: 40px;"></div>
<p>If you are seeing this inside of Shopify, please try refreshing your page. 
    If that does not work, please go to Shopify and relaunch ProfitWise from Apps.</p>
