@model ProfitWise.Web.Models.AuthorizationProblemModel
@{
    ViewBag.Title = "ProfitWise - Unsupported Currency";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<div class="system-page">
    <h2 class="header">ProfitWise - Unsupported Currency</h2>
    <h4>Your Shopify store's currency is currently not supported by ProfitWise.</h4>
    <div style="height: 25px;"></div>
    <p>
        Unfortunately, at this time ProfitWise only handles the following currencies:
        <strong>USD, EUR, JPY, GBP, AUD, CHF, CAD, AED</strong>.
    </p>
    <p>
        As we continue to grow, we will gradually add more currencies to our offering.
        Nevertheless, we sincerely appreciate your interest in using ProfitWise!
    </p>
    <p>
        The ProfitWise Support Team can be reached via email at
        <a href="support@logicautomated.com">support@logicautomated.com</a>.
    </p>
</div>

