<?xml version="1.0" encoding="utf-8" ?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings  xdt:Transform="Replace">
    <!-- Shopify Http Client -->
    <add key="ShopifyRetryLimit" value="3" />
    <add key="ShopifyHttpTimeout" value="60000" />
    <add key="ShopifyThrottlingDelay" value="500" />
    <add key="ShopifyRetriesEnabled" value="true" />

    <!-- Machine Time Zone -->
    <add key="Machine_TimeZone" value="Eastern Standard Time" />

    <!-- Fixer Exchange Rate API Http Client -->
    <add key="ExchangeRateApiRetryLimit" value="3" />
    <add key="ExchangeRateApiHttpTimeout" value="60000" />
    <add key="ExchangeRateApiThrottlingDelay" value="0" />
    <add key="ExchangeRateApiRetriesEnabled" value="true" />
    <add key="FixerApiKey" value="cfa625137d513cdee363e54726bfe77a"/>
    <add key="OerApiKey" value="cb890621febc4000a4c597113e854d38"/>
    
    <!-- HangFire execution frequencies -->
    <add key="ShopRefreshInterval" value="*/15 * * * *" />
    <add key="ExchangeRefreshInterval" value="0 2 * * *" />
    <add key="CleanupServiceInterval" value="0 1 * * *" />

    <!-- Batch Process settings -->
    <add key="InitialOrderStartDateOffsetMonths" value="24" />
    <add key="RefreshServiceMaxOrderRate" value="250" />
    <add key="RefreshServiceMaxProductRate" value="250" />
    <add key="PickListExpirationSeconds" value="300" />
    <add key="ReportDataExpirationSeconds" value="300" />
    <add key="UninstallationFinalizeHours" value="2" />
    <add key="MaximumShopifyApiHttp401Count" value="10" />
    
    <!-- ProfitWise.Data Diagnostic shim -->
    <add key="ProfitWiseDiagonosticShop" value="955973" />
    <add key="ProfitWiseDiagonosticOrders" value="" />

    <!-- Webhook endpoints -->
    <add key="UninstallWebHookAddress" value="https://www.profitwiseapp.com/ShopifyAuth/Uninstall" />
    <add key="CustomerRedactWebHookAddress" value="https://www.profitwiseapp.com/ShopifyAuth/CustomerRedact" />
    <add key="ShopRedactWebHookAddress" value="https://www.profitwiseapp.com/ShopifyAuth/ShopRedact" />
    <add key="CustomerDataWebHookAddress" value="https://www.profitwiseapp.com/ShopifyAuth/CustomerDataRequest" />


    <!-- Location of file storage -->
    <add key="FileUploadDirectory" value="C:\ProfitWise\FileStorage\" />
  </appSettings>
  
  <!-- Updated 5/27/2020 -->
  <profitWiseConfiguration  
      xdt:Transform="Replace"
          ShopifyApiKey="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAFUw+XZWphESjkqeR3SufuwQAAAACAAAAAAAQZgAAAAEAACAAAAC2JnVopjI7K1uhXzJxt/lGIhZqmy9edE+R4GNlRQjKLAAAAAAOgAAAAAIAACAAAAD6Z9u/gg1ZAf47ySnXRKdtL3RZ7W3V0p29W7MPhirVE1AAAABGRhcVk3ZD9W84Z4FLEgeQ+cTwAiMGA3BHulsL51RsPGYYq40dhFz0YXwfpJt5HcpXzU0gq4S/99qbGGRBeTYqn3VnHkT7RoRjEozMJ3fnRkAAAAA7XxsXhqOou8jJ/wBGbtokT293zzPAmt8c3G1/Rz4S/vNQwIX7Lv4iYENs7cPRLgnla7Cs4XUkFqec/28VLs/i"
          ShopifyApiSecret="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAFUw+XZWphESjkqeR3SufuwQAAAACAAAAAAAQZgAAAAEAACAAAABzFRv3t+iWrNwj+cZcJYjCYUYW0YYM6PQC0O6ai+MyDAAAAAAOgAAAAAIAACAAAADE79VolhWEQMKDRtSJjhq7l3vYvCzNJ5rEg8FnLG3bNVAAAABv+p3q4q6ypn/B5XC8PqAtpql9qZWS6OeCxtNSUqhuEFhmBPO7mrzRvDY7SjJdM64e9A1eBVcx5Y9FlEUHmR3Rg2Z52ykBrLLy4caLdQYABUAAAAAoda32I2Q4HefEIKzHlZ1D5UeZgWbNmdv+OZWZfqAARq4Qgi+ZbTY8lbewG9pKosXb9pUQMdjAFWcb0Ntq4LEQ"
          ClaimKey="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAFUw+XZWphESjkqeR3SufuwQAAAACAAAAAAAQZgAAAAEAACAAAAAptzQLxVvmxqhsSTMaIC+nBGdmIZMijWEkE92q2c7CiQAAAAAOgAAAAAIAACAAAABJGb3l72bUO3399OWliRqRvK3dGz/sA/gRGzaxmsdPCVAAAACJkzB8+BOlkvFJZeIABaz+hXXoopiyPa8LyQgCjezozY79dMEtVpfdN4VdujwHJIF1TxodgFkZ3LCKsi5RVvlTqZ2P7I++YhA6FwQ2x+nUfUAAAAA+U7mbgWMAQmgpCLJgmW1H8E+J7moNq8JhOnAVWN84SV71n8OovKnuOUbJ9MQVAvs5y+yFgzWtw9phx6qb2y1a"
          ClaimIv="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAFUw+XZWphESjkqeR3SufuwQAAAACAAAAAAAQZgAAAAEAACAAAADvElqyHU+4iJl2F2i5aaa+V23REGGc2PE71Kf+4Q6xPQAAAAAOgAAAAAIAACAAAAAB/ELGaDihRlEEBPeneVyAac4L8LOqNC1YlL0w09yfGTAAAAARtOnv3Q0SnQbojlxeF0eL7S89d9koPY4fSmFk4SmfN001Xr6sBqXG1Ctuh+YGtAJAAAAA7riz5me9uPwTcnapN2gDF9JlyJ0IcbNhqF9sHxXpHLm/+pL9Z+G5XPAxbxzx5SB0jWuWe6ju64Ul1BJLfnWHMw=="/>

  <nlog xdt:Transform="Replace">
    <targets>
      <target name="Standard.Output" type="SplitGroup">
        <target type="File"
                filename="C:\ProfitWise\BatchAppLogs\${logger}.${shortdate}.txt"
                layout="${longdate}|${level}|${message}"
                archiveAboveSize="50000000">
        </target>
        <target type="Console" layout="${message} ${onexception:|${exception:format=tostring} | ${stacktrace}}"></target>
        <target type="Debugger" layout="${message} ${onexception:|${exception:format=tostring} | ${stacktrace}}"></target>
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="INFO" writeto="Standard.Output"></logger>
    </rules>
  </nlog>
  
</configuration>

