<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="profitWiseConfiguration" type="System.Configuration.SingleTagSectionHandler"  />
  </configSections>
  
  <appSettings>
    <!-- Shopify Http Client -->
    <add key="ShopifyRetryLimit" value="3" />
    <add key="ShopifyHttpTimeout" value="60000" />
    <add key="ShopifyThrottlingDelay" value="500" />
    <add key="ShopifyRetriesEnabled" value="true" />
    
    <!-- Machine Time Zone -->
    <add key="Machine_TimeZone" value="(GMT-06:00) Central Time (US &amp; Canada)" />
    
    <!-- Fixer API Http Client -->
    <add key="FixerApiRetryLimit" value="3" />
    <add key="FixerApiHttpTimeout" value="60000" />
    <add key="FixerApiThrottlingDelay" value="0" />
    <add key="FixerApiRetriesEnabled" value="true" />
    
    <!-- HangFire execution frequencies -->
    <add key="ShopRefreshInterval" value="* * * * *" />
    <add key="ExchangeRefreshInterval" value="* * * * *" />
    <add key="CleanupServiceInterval" value="* * * * *" />

    <!-- Batch Process settings -->
    <add key="InitialOrderStartDateOffsetMonths" value="3" />
    <add key="RefreshServiceMaxOrderRate" value="250" />
    <add key="RefreshServiceMaxProductRate" value="100" />
    <add key="PickListExpirationSeconds" value="60" />
    <add key="ReportDataExpirationSeconds" value="60" />
    
    <!-- ProfitWise.Data Diagnostic shim -->
    <add key="ProfitWiseDiagonosticShop" value="955973" />
    <add key="ProfitWiseDiagonosticOrders" value="" />    
  </appSettings>

  <profitWiseConfiguration
    ShopifyApiKey="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAImFhgvDa0k6t1baRwZr5ygQAAAACAAAAAAAQZgAAAAEAACAAAAB3kWgDagYOvkiDcK1U3pNGkf/fTb+jnEeuzkpK0wB2xAAAAAAOgAAAAAIAACAAAACVRNh6QNrQ98VsfGhV53KDT2CeAUNzUs+Vvp3Gx2TdIVAAAADyV/swXNOU0wQ73qKOkXpz0lzhGQoDPNIGO91/rLJcYp0QXiOGxrUDB4M/Guh/8kmImuH0tPyjgpfqMAPOQ9mz6ErRXqxVeBK0J4muFfY9AkAAAABxi3Tr+qhrCTCjtb+p4Qf9M4zJmfkut7aYndu9S2ih4VuLQTSJIHoAv88D26CdEDz/I7WFYZOGug6aK/bVTnJm"
    ShopifyApiSecret="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAImFhgvDa0k6t1baRwZr5ygQAAAACAAAAAAAQZgAAAAEAACAAAABwwaX8CVSM82YUhIEyvWMueraq7Og6ya9AXfTV1d4pzwAAAAAOgAAAAAIAACAAAAAjtpTLP4dO1iE25PKijv7V+9bySlMfk7ip+NPQZvHM2VAAAACM7wHBhinleFyP58BQ2uNsOHfR1i7nLgLLcdpjGc4FwFN5ZP3JezWWkl+sz3fB7czOK0GSKKoe2h4FPsE69b9OTedVAFQ6Suhgc1ViPvxqGkAAAAAdeUxTvLF//hnZtXnBvG6GmqigDdYv8mgD1oT7H6FvvyUy7Ld4KhLZthVDdt3ZIpv2lTj01IAjS7GERvBZVFkS"
    ClaimKey="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAImFhgvDa0k6t1baRwZr5ygQAAAACAAAAAAAQZgAAAAEAACAAAAB9U/WkoOYebqcxVKV2/OlPFh4nSsDPCXzV33kvJGg5rwAAAAAOgAAAAAIAACAAAABndaLWQupzLJY55awHDz4dOujR9mia5N2uyNHcw42vbFAAAADKCZO0S/CqwrhfNn0zA12hG6IeadWfy7BlXwckvksLrGZtjOP53AFN5U1j0npHgvGMQ3jEXMZYqyVeIFV10cmZH47PXQqooG0n+prIBb/Sq0AAAAB0nBwEVrRtXLozj7qt3/g17SCe9WJHKtxMZAnHgTTCpBlnW7G5EaYzEmqG5ToR3/+pcbwQiVOSMYsjv2iJavWO"
    ClaimIv="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAImFhgvDa0k6t1baRwZr5ygQAAAACAAAAAAAQZgAAAAEAACAAAADq2kCDkeKJCL1FbOPgyDWojP4MmTU0Ao82cJHpMdVptQAAAAAOgAAAAAIAACAAAADCRHvATYRSf/lcZD5M5rBvR+qfvORwIKaNXWNpxhIo7TAAAADMznsDbZ5wi87/yVc3lv4oxyUa6P+KezlwgUMX/OdB7g8glLYXPmhY40HAuLeQXf1AAAAAHmxFsmtM6O7/dvUVxDEpM5iKBYLHA2Z7TOkYUULDgoZ2ALXAZRa8fcz8P/gOe9VpVdt4D8PFJmq0R4RX9z5fSA==" />
  
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>      
      <target name="Standard.Output" xsi:type="SplitGroup">
        <target xsi:type="File" filename="C:\DEV\ProfitWise\Logs\${logger}.${shortdate}.txt" layout="${longdate}|${level}|${message}" archiveAboveSize="50000000"></target>
        <target xsi:type="Console" layout="${message} ${onexception:|${exception:format=tostring} | ${stacktrace}}"></target>
        <target xsi:type="Debugger" layout="${message} ${onexception:|${exception:format=tostring} | ${stacktrace}}"></target>
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="INFO" writeto="Standard.Output"></logger>
    </rules>
  </nlog>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Server=localhost;Database=ProfitWise;Trusted_Connection=True;" />
  </connectionStrings>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="linq2db" publicKeyToken="f19f8aed7feff67e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.7.1" newVersion="1.0.7.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.8.7.0" newVersion="6.8.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <system.data>
    <DbProviderFactories>
      <add name="SqlClient Data Provider" invariant="System.Data.SqlClient" description=".Net Framework Data Provider for SqlServer" type="System.Data.SqlClient.SqlClientFactory, System.Data,       Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </DbProviderFactories>    
  </system.data>
</configuration>
