<?xml version="1.0" encoding="utf-8" ?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <profitWiseConfiguration xdt:Transform="Replace"
      ShopifyApiKey="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAtqa83OqZQEWMivhoBtUbAQQAAAACAAAAAAAQZgAAAAEAACAAAABL8AXmn8KqowdAVqkkuSy4R9j6qBEvAddg27x0615K7wAAAAAOgAAAAAIAACAAAACxJxYj8eg/tBRPzKuljxSdGa5SAp3Y1oOScQq4sIGt2jAAAADLIZjoAzGTbu6imBCNMcqGTBMDe1ALY7DETtSdc4N6BF+m2bJDbOItWFheQ+4I+zFAAAAAAC9VIs76F1ukq6Qptf3miml02I+naXgBqV5e9eRRFJpB5mkKlvHmGcjOYBfXtaXxmPwFdv9QwrNUqK0jJ1+DYw=="
      ShopifyApiSecret="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAtqa83OqZQEWMivhoBtUbAQQAAAACAAAAAAAQZgAAAAEAACAAAAAPEfSrXx6CG75yGNYYK2LC1BcMaI956mOtTMcj3KqxxAAAAAAOgAAAAAIAACAAAABFGT6PYhF23lzLIbNlsLC93u9aA+htbZk+5kWPLJHYFVAAAADPOeD7bvOIj9UktJPgO2KxJjOEbX/j+JDmADOh8tifgobojYGXbbo+IlsglnmZQ5nGVASzIic9Hp85/sxHalwJhS2WMon8OUXLYF9j/jf8S0AAAADJGlkHws3WjOVIAwTjclBZhdhAlQ9r73FRZwOp+2QDaqOnm4K3NOUxhc+Q+pAkVVQMoMJeQgcnAdIoGaIe0tRe"
      ClaimKey="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAtqa83OqZQEWMivhoBtUbAQQAAAACAAAAAAAQZgAAAAEAACAAAAA0r5NBMgkk4sv/mdkdBzUFsg9tGYtlWUTyysufynXLcwAAAAAOgAAAAAIAACAAAABoO5hJcJjw25qlBAr9my70Lh6L1TKJi2TZDR7C4h8A91AAAACEvyI/THyFS8iQLpqFFFCcnNc63XJ1nu0qZkETeTdjhLGWdZ/WpKBJmUwx07jgONU3kJO4MaWP9BkRPabJz2Sf6joHQ2BEoIbCvZD8oIpYDUAAAAD3BWZTGaYR9XkhLL1+wria5TeqFh2ubLcbTSEhZH/Q+4TdgpLd+pflmA13+1PkitnG6l6xhJgZitaSufTLdMwS"
      ClaimIv="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAtqa83OqZQEWMivhoBtUbAQQAAAACAAAAAAAQZgAAAAEAACAAAABISs57RbACbqXZED5A/zDTEY/cmBMoqlXcR0lNFIVJOgAAAAAOgAAAAAIAACAAAABjoFbssc74qgKGvnL9NqN77NV0XOEqP41GQvmGid1ncjAAAABahtEE5HjQw/6SXQ0HhHusS+xdfQsPYZcGQf4yXTqJEGIhDmlofvdho+lJ1oFFjdpAAAAAC5N68tociYFfrB7UfdF9NRHoKkzXrsG9i7eXeMLlWbWPbqsgq4CY0hUlvcH2mivZA9dBnZ/hNtjDpBcugs2OuQ==" />

</configuration>

