<style>
    table#product-types td {
        height: 70px !important;
        font-size: 14px;
        vertical-align: middle !important;
    }

    table#product-types tr td:nth-child(1) {
        width: 10%;
    }

    table#product-types tr td:nth-child(2) {
        width: 45%;
    }

    table#product-types tr td:nth-child(3) {
        width: 45%;
    }

    .increased-side-padding {
        padding-left: 35px;
        padding-right: 35px;
    }
</style>

<script type="text/html" id="Report-Editor-Empty-Results">
    <div style="text-align: center; padding-top: 50px; padding-bottom: 100px;">
        <i style="font-size: 6.0em; color: #CCC;" class="glyphicon glyphicon-tag"></i>
        <h3 style="color: #777; font-weight: 700;">No <span data-bind="text: $data.ItemDescription"></span> match your search</h3>
        <span style="color: #555;">Try changing or clearing the search terms</span>
    </div>
</script>

<script type="text/html" id="Report-Editor-Header-Product-Type">
    <div>
        <div class="row-fluid">
            <div class="col-xs-12 no-side-padding" style="height: 120px; text-align:right;">
                <div data-bind="template: { name: 'Filter-Paging-Widget', data: $data.FilterModel }"></div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="col-xs-12 no-side-padding">
                <div style="width: 100%; border-top: 1px dashed #CCC;"></div>

                <a href="#" style="position: absolute; top: -40px; font-weight: 700;"
                   data-bind="click: DeselectAll">Remove Product Type Filters</a>
            </div>
        </div>
    </div>
</script>
<script type="text/html" id="Report-Editor-Body-Product-Type">
    <div class="row-fluid" style="min-height: 400px;">
        <div class="col-xs-7 increased-side-padding">
            <div data-bind="if: CurrentPageOfItems().length == 0">
                <div data-bind="template: { name: 'Report-Editor-Empty-Results', data: { ItemDescription: 'Product Types' } }"></div>
            </div>

            <div data-bind="if: CurrentPageOfItems().length > 0">
                <table id="product-types" class="table table-hover" style="width: 100%; height: 100%; margin: 0;">
                    <tbody data-bind="foreach: CurrentPageOfItems">
                    <tr style="border-top: 0;" data-bind="click: $data.SelectChange">
                        <td style="color:#777;">
                            <div data-bind="if: $data.IsChecked">
                                <i class="glyphicon glyphicon-ok"></i>
                            </div>
                            <div data-bind="ifnot: $data.IsChecked">
                            </div>
                        </td>

                        <td class="overflow-gracefully">
                            <span data-bind="text: $data.Title"></span>
                        </td>

                        <td>(<span data-bind="text: $data.ProductCount"></span> Products)</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="Report-Editor-Header-Vendor">
    <div>
        <div class="row-fluid">
            <div class="col-xs-12 no-side-padding" style="height: 120px; text-align:right;">
                <div class="pull-right" data-bind="template: { name: 'Filter-Paging-Widget', data: $data.FilterModel }"></div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="col-xs-12 no-side-padding">
                <div style="width: 100%; border-top: 1px dashed #CCC;"></div>
                <a href="#" style="position: absolute; top: -40px; font-weight: 700;"
                   data-bind="click: DeselectAll">Remove Vendor Filters</a>
            </div>
        </div>
    </div>
</script>
<script type="text/html" id="Report-Editor-Body-Vendor">
    <div class="row-fluid" style="min-height: 400px;">
        <div class="col-xs-7 increased-side-padding">
            <div data-bind="if: CurrentPageOfItems().length == 0">
                <div data-bind="template: { name: 'Report-Editor-Empty-Results', data: { ItemDescription: 'Vendors' } }"></div>
            </div>

            <div data-bind="if: CurrentPageOfItems().length > 0">
                <table id="product-types" class="table table-hover" style="width: 100%; height: 100%; margin: 0;">
                    <tbody data-bind="foreach: CurrentPageOfItems">
                        <tr style="border-top: 0;" data-bind="click: $data.SelectChange">
                            <td style="color:#777;">
                                <div data-bind="if: $data.IsChecked">
                                    <i class="glyphicon glyphicon-ok"></i>
                                </div>
                                <div data-bind="ifnot: $data.IsChecked">
                                </div>
                            </td>

                            <td class="overflow-gracefully">
                                <span data-bind="text: $data.Title"></span>
                            </td>

                            <td>(<span data-bind="text: $data.ProductCount"></span> Products)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="Report-Editor-Header-Master-Product">
    <div>
        <div class="row-fluid">
            <div class="col-xs-12 no-side-padding" style="height: 120px; text-align:right;">
                <div class="pull-right" data-bind="template: { name: 'Filter-Paging-Widget', data: $data.FilterModel }"></div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="col-xs-12 no-side-padding">
                <div style="width: 100%; border-top: 1px dashed #CCC;"></div>
                <a href="#" style="position: absolute; top: -40px; font-weight: 700;"
                   data-bind="click: DeselectAll">Remove Product Filters</a>
            </div>
        </div>
    </div>
</script>
<script type="text/html" id="Report-Editor-Body-Master-Product">
    <div class="row-fluid" style="min-height: 400px;">
        <div class="col-xs-7 increased-side-padding">
            <div data-bind="if: CurrentPageOfItems().length == 0">
                <div data-bind="template: { name: 'Report-Editor-Empty-Results', data: { ItemDescription: 'Products' } }"></div>
            </div>

            <div data-bind="if: CurrentPageOfItems().length > 0">
                <table id="product-types" class="table table-hover" style="width: 100%; height: 100%; margin: 0;">
                    <tbody data-bind="foreach: CurrentPageOfItems">
                        <tr style="border-top: 0;" data-bind="click: $data.SelectChange">
                            <td style="color:#777;">
                                <div data-bind="if: $data.IsChecked">
                                    <i class="glyphicon glyphicon-ok"></i>
                                </div>
                                <div data-bind="ifnot: $data.IsChecked">
                                </div>
                            </td>

                            <td style="width:60%;" class="overflow-gracefully">
                                <span data-bind="text: $data.Title, tooltip: { title: $data.Title }"></span>
                                <br />
                                <span data-bind="text: $data.Vendor" style="font-size:0.8em; font-weight:700; color:#666;"></span>
                            </td>

                            <td style="width:30%;">(<span data-bind="text: $data.VariantCount"></span> Variants)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-xs-4">
        </div>
    </div>
</script>

<script type="text/html" id="Report-Editor-Header-Master-Variant">
    <div>
        <div class="row-fluid">
            <div class="col-xs-12 no-side-padding" style="height: 120px; text-align:right;">
                <div class="pull-right" data-bind="template: { name: 'Filter-Paging-Widget', data: $data.FilterModel }"></div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="col-xs-12 no-side-padding">
                <div style="width: 100%; border-top: 1px dashed #CCC;"></div>
                <a href="#" style="position: absolute; top: -40px; font-weight: 700;"
                   data-bind="click: DeselectAll">Remove Variant Filters</a>
            </div>
        </div>
    </div>
</script>
<script type="text/html" id="Report-Editor-Body-Master-Variant">
    <div class="row-fluid" style="min-height: 400px;">
        <div class="col-xs-7 increased-side-padding">
            <div data-bind="if: CurrentPageOfItems().length == 0">
                <div data-bind="template: { name: 'Report-Editor-Empty-Results', data: { ItemDescription: 'Variants' } }"></div>
            </div>

            <div data-bind="if: CurrentPageOfItems().length > 0">
                <table id="product-types" class="table" style="width: 100%; height: 100%; margin: 0;">
                    <tbody data-bind="foreach: CurrentPageOfItems">
                        <tr style="border-top: 0;" data-bind="click: $data.SelectChange">
                            <td style="color:#777;">
                                <div data-bind="if: $data.IsChecked">
                                    <i class="glyphicon glyphicon-ok"></i>
                                </div>
                                <div data-bind="ifnot: $data.IsChecked">
                                </div>
                            </td>

                            <td style="width:45%" class="overflow-gracefully">
                                <span data-bind="text: $data.ProductTitle, tooltip: { title: $data.ProductTitle }"></span>
                                <br />
                                <span data-bind="text: $data.Vendor" style="font-size:0.8em; font-weight:700; color:#666;"></span>
                            </td>

                            <td style="width:45%" class="overflow-gracefully">
                                <span data-bind="text: $data.VariantTitle, tooltip: { title: $data.VariantTitle }"></span>
                                <br />
                                <span data-bind="text:$data.Sku" style="font-size:0.8em; font-weight:700; color:#666;"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="Report-Editor-Header-Product">
    <div>
        <div class="row-fluid">
            <div class="col-xs-12 no-side-padding" style="height: 120px; text-align:right;">
                <div class="pull-right" data-bind="template: { name: 'Filter-Paging-Widget', data: $data.FilterModel }"></div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="col-xs-12 no-side-padding">
                <div style="width: 100%; border-top: 1px dashed #CCC;"></div>
                <a href="#" style="position: absolute; top: -40px; font-weight: 700;"
                   data-bind="click: DeselectAll">Remove Product Filters</a>
            </div>
        </div>
    </div>
</script>
<script type="text/html" id="Report-Editor-Body-Product">
    <div class="row-fluid" style="min-height: 400px;">
        <div class="col-xs-7 increased-side-padding">
            <div data-bind="if: CurrentPageOfItems().length == 0">
                <div data-bind="template: { name: 'Report-Editor-Empty-Results', data: { ItemDescription: 'Products' } }"></div>
            </div>

            <div data-bind="if: CurrentPageOfItems().length > 0">
                <table id="product-types" class="table table-hover" style="width: 100%; height: 100%; margin: 0;">
                    <tbody data-bind="foreach: CurrentPageOfItems">
                        <tr style="border-top: 0;" data-bind="click: $data.SelectChange">
                            <td style="color:#777;">
                                <div data-bind="if: $data.IsChecked">
                                    <i class="glyphicon glyphicon-ok"></i>
                                </div>
                                <div data-bind="ifnot: $data.IsChecked">
                                </div>
                            </td>

                            <td style="width:60%;" class="overflow-gracefully">
                                <span data-bind="text: $data.Title, tooltip: { title: $data.Title }"></span>
                                <br />
                                <span data-bind="text: $data.Vendor" style="font-size:0.8em; font-weight:700; color:#666;"></span>
                            </td>

                            <td style="width:30%;">(<span data-bind="text: $data.VariantCount"></span> Variants)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-xs-4">
        </div>
    </div>
</script>

<script type="text/html" id="Report-Editor-Header-Variant">
    <div>
        <div class="row-fluid">
            <div class="col-xs-12 no-side-padding" style="height: 120px; text-align:right;">
                <div class="pull-right" data-bind="template: { name: 'Filter-Paging-Widget', data: $data.FilterModel }"></div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="col-xs-12 no-side-padding">
                <div style="width: 100%; border-top: 1px dashed #CCC;"></div>
                <a href="#" style="position: absolute; top: -40px; font-weight: 700;"
                   data-bind="click: DeselectAll">Remove Variant Filters</a>
            </div>
        </div>
    </div>
</script>
<script type="text/html" id="Report-Editor-Body-Variant">
    <div class="row-fluid" style="min-height: 400px;">
        <div class="col-xs-7 increased-side-padding">
            <div data-bind="if: CurrentPageOfItems().length == 0">
                <div data-bind="template: { name: 'Report-Editor-Empty-Results', data: { ItemDescription: 'Variants' } }"></div>
            </div>

            <div data-bind="if: CurrentPageOfItems().length > 0">
                <table id="product-types" class="table" style="width: 100%; height: 100%; margin: 0;">
                    <tbody data-bind="foreach: CurrentPageOfItems">
                        <tr style="border-top: 0;" data-bind="click: $data.SelectChange">
                            <td style="color:#777;">
                                <div data-bind="if: $data.IsChecked">
                                    <i class="glyphicon glyphicon-ok"></i>
                                </div>
                                <div data-bind="ifnot: $data.IsChecked">
                                </div>
                            </td>

                            <td style="width:45%" class="overflow-gracefully">
                                <span data-bind="text: $data.ProductTitle, tooltip: { title: $data.ProductTitle }"></span>
                                <br />
                                <span data-bind="text: $data.Vendor" style="font-size:0.8em; font-weight:700; color:#666;"></span>
                            </td>

                            <td style="width:45%" class="overflow-gracefully">
                                <span data-bind="text: $data.VariantTitle, tooltip: { title: $data.VariantTitle }"></span>
                                <br />
                                <span data-bind="text:$data.Sku" style="font-size:0.8em; font-weight:700; color:#666;"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</script>

<script>
    ProfitWiseWidgets = ProfitWiseWidgets || {};

    ProfitWiseWidgets.SelectionModel = function () {
        var self = this;

        self.AllItems = ko.observableArray();
        
        self.LoadItems = function(allItems) {
            self.AddObservables(allItems);
            self.AllItems(allItems);
        };

        // Stubbed out to demonstrate the method signature...
        self.UpdateCallback = function (item, selected) { };

        self.SearchTextFunction = function (item, searchText) {
            return ProfitWiseFunctions.CaseInsensitiveContains(item.Title, searchText);
        };

        self.RegisterUpdateCallback = function (callback) {
            self.UpdateCallback = callback;
        };

        self.RegisterSearchTextFunction = function (callback) {
            self.SearchTextFunction = callback;
        }

        self.AddObservables = function (data) {
            AQ(data)
                .each(function (item) {
                    item.IsChecked = ko.observable(false);

                    item.SelectChange = function () {
                        var selected = !item.IsChecked();                        
                        item.IsChecked(selected);
                        self.UpdateCallback(item, selected);
                    };
                });
        };        

        self.SetCheckedItemsByKeyArray = function(keyArray, selected) {
            AQ(keyArray)
                .each(function(key) {
                    self.SetCheckedItemByKey(key, selected);
                });
        };

        self.SetCheckedItemByKey = function (key, selected) {
            var item =
                AQ(self.AllItems())
                    .firstOrDefault(function (item) { return item.Key == key });
            if (item) {
                item.IsChecked(selected);
            };
        };

        self.CheckedItems = function () {
            return AQ(self.AllItems())
                .where(function (item) { return item.IsChecked(); })
                .select(function (item) { return item.Key; })
                .toArray();
        };
        
        self.UncheckAllItems = function () {            
            AQ(self.AllItems()).each(function(item) { item.IsChecked(false); });
        };

        self.SetCheckedItems = function (checkedItemKeyArray) {
            AQ(checkedItemKeyArray)
                .each(function (key) {
                    self.SetCheckedItemsByKey(key, true);
                });
        };

        self.ApplyFiltersAndPaging = function (searchText, pageNumber, pageSize) {
            searchText = searchText || "";
            var filteredItems = self.AllItems();
            if (searchText.trim() != "") {
                filteredItems =
                    AQ(filteredItems)
                        .where(function (item) { return self.SearchTextFunction(item, searchText); })
                        .toArray();
            }
            
            var skip = (pageNumber - 1) * pageSize;
            var take = pageSize;
            var pagedResults = 
                AQ(filteredItems)
                .skip(skip)
                .take(take)
                .where(function (n) { return n != null })
                .toArray();

            return {
                NumberOfFilteredItems: filteredItems.length,
                PagedItems: pagedResults,
            };
        };
        
        return self;
    };

    ProfitWiseWidgets.ReportFilterModel =
            function (filterType, placeHolderText, filterAjaxUrl, searchTextFunction) {
        var self = this;
        
        self.ReportId = ko.observable();
        self.FilterType = ko.observable(filterType);
        self.FilterAjaxUrl = filterAjaxUrl;
        
        // Paging and Filtering model
        self.FilterModel = new ProfitWiseWidgets.FilterPagingWidgetModel();
        self.FilterModel.PlaceHolderText(placeHolderText);
        self.FilterModel.RegisterRefreshCallback(function () {
            self.ApplyFiltersAndPaging();
        });
        self.FilterModel.SetPageSize(50);

        // The paging model puts the data here after filtering and paging ops are done...
        self.CurrentPageOfItems = ko.observableArray();

        // Triggered whenever there's a change to the filters
        self.NotifyCallback = function () { };        
        self.RegisterNotifyCallback = function (callback) {
            self.NotifyCallback = callback;
        };

        // Selection Model
        self.SelectionModel = new ProfitWiseWidgets.SelectionModel();
        self.SelectionModel.RegisterUpdateCallback(
            function (item, selected) {
                self.UpdateFilter(item.Key, item.Title, selected);
            }
        );
        
        self.RegisterSearchTextFunction = function(searchTextFunction) {
            self.SelectionModel.RegisterSearchTextFunction(searchTextFunction);
        };

        // Why is the title not being handled by the server ** TODO 
        self.UpdateFilter = function (key, title, selected) {
            flow.exec(
                function () {
                    var ajax = new ProfitWiseFunctions.Ajax();
                    var data = {
                        reportId: self.ReportId(),
                        filterType: self.FilterType(),
                        key: key,
                        title: title,
                    };

                    if (selected) {
                        ajax.HttpPost("/FilterService/AddFilter", data, this);
                    } else {
                        ajax.HttpPost("/FilterService/RemoveFilter", data, this);
                    }
                },
                function () {
                    self.NotifyCallback();
                });
        };
        
        self.DeselectAll = function () {
            flow.exec(
                function () {
                    var ajax = new ProfitWiseFunctions.Ajax();
                    var data = {
                        reportId: self.ReportId(),
                        filterType: self.FilterType(),
                    };
                    ajax.HttpPost("/FilterService/RemoveFilterByType", data, this);
                },
                function () {
                    self.SelectionModel.UncheckAllItems();

                    // Deselect all from this Order
                    self.NotifyCallback();
                }
            );
        };

        self.Refresh = function (callback) {
            self.FilterModel.SetPageNumber(1);
            var ajax = new ProfitWiseFunctions.Ajax();

            flow.exec(
                function () {
                    ajax.HttpGet(self.FilterAjaxUrl + "?reportId=" + self.ReportId(), this);
                },
                function (allItemsFromServer) {
                    self.SelectionModel.LoadItems(allItemsFromServer);
                    self.SelectionModel.UncheckAllItems();
                    self.ApplyFiltersAndPaging();
                    callback();
                }
            );
        };

        self.ApplyFiltersAndPaging = function () {
            var filterResults =
                self.SelectionModel.ApplyFiltersAndPaging(
                    self.FilterModel.SearchText(), self.FilterModel.GetPageNumber(), self.FilterModel.GetPageSize());

            self.FilterModel.SetRecordCount(filterResults.NumberOfFilteredItems);
            self.CurrentPageOfItems(filterResults.PagedItems);
        };

        return self;
    };    
</script>
