@using ProfitWise.Web.Models

<script type="text/html" id="Report-Selection-Preview">
    <style>
        #product-variant-count-container .popover { max-width: 300px; }
    </style>

    <div id="product-variant-count-container">
        <p>
            <div style="display:inline-block;">This Report includes</div>

            <div class="popover-container" style="display: inline-block">
                <a href="#" rel="popover" style="font-weight:700;" class="popover-launcher" 
                   data-bind="click: LaunchProductSelectionPopup"><span data-bind="text: ProductCount"></span> Products</a>
            </div>

            <div class="popover-container" style="display: inline-block">
                (<a href="#" rel="popover" style="font-weight:700;" class="popover-launcher"
                    data-bind="click: LaunchVariantSelectionPopup"><span data-bind="text: VariantCount"></span> Variants)</a>.
            </div>
            
            <div style="display: inline-block;" data-bind="if: ProductCount() == 0 && VariantCount() == 0">
                <div style="display: inline-block; position: absolute;">
                    <div style="position:relative; color:#999; left:4px; top:-20px; font-size:22px;"
                         data-bind="popover : { options: { placement: 'bottom', trigger: 'hover' },
                                        template: 'Report-No-Products-Or-Variants' }">
                        <i class="glyphicon glyphicon-ban-circle"></i>
                    </div>
                </div>
            </div>
        </p>
    </div>
</script>

<script type="text/html" id="Report-No-Products-Or-Variants">
    <p style="width:200px;">Your selected Report Filters currently result in zero Products or Variants. 
        Please try removing filters. For help with using filters, <a href="#">watch this video</a>.</p>
</script>

<script>
    ProfitWiseWidgets = ProfitWiseWidgets || {};

    ProfitWiseWidgets.ReportSelectionCountPreviewModel = function () {
        var self = this;

        self.MaximumNumberOfProducts = @PreviewSelectionLimit.MaximumNumberOfProducts;
        self.MaximumNumberOfVariants = @PreviewSelectionLimit.MaximumNumberOfVariants;
        
        self.ReportId = ko.observable();
        self.ProductCount = ko.observable(0);
        self.VariantCount = ko.observable(0);

        self.ProductSelections = ko.observableArray([]);
        self.VariantSelections = ko.observableArray([]);
        
        self.Refresh = function (callback) {
            flow.exec(
                function () {
                    var ajax = new ProfitWiseFunctions.Ajax();
                    ajax.HttpGet("/QueryService/RecordCounts?reportId=" + self.ReportId(), this);
                },
                function (data) {
                    self.ProductCount(data.ProductCount);
                    self.VariantCount(data.VariantCount);

                    if (callback) {
                        callback();
                    }
                }
            );
        };

        self.LaunchProductSelectionPopup = function() {
            self.LaunchSelectionPopup('@ProductVariantSelectionModel.ProductType');
        }

        self.LaunchVariantSelectionPopup = function() {
            self.LaunchSelectionPopup('@ProductVariantSelectionModel.VariantType');
        }

        self.LaunchSelectionPopup = function(selectionType) {
            var url = ProfitWiseConfig.BaseUrl +
                              '/Report/ProductVariantSelections' +
                              '?reportId=' + self.ReportId() + 
                              '&selectionType=' + selectionType;

            ProfitWiseFunctions.PopOverCloseAll();
            ProfitWiseShopify.LaunchModal({
                src: url,
                title: 'View All ' + selectionType + ' Selections for Report',
                width: 'small',
                height: 350,
            });
        };

        return self;
    };
</script>
