
<style>
    table#product-types td {
        height: 70px !important;
        font-size: 14px;
        vertical-align: middle !important;
    }

    table#product-types tr td:nth-child(1) {
        width: 10%;
    }
    table#product-types tr td:nth-child(2) {
        width: 45%;
    }
    table#product-types tr td:nth-child(3) {
        width: 45%;
    }
</style>

<script id="Date-Picker" type="text/html">
    <div id="date-range-picker-parent" class="pull-right" style="width: 219px; position: relative;">
        <input type="text" 
               class="form-control" 
               style="width: 100%; font-size: 1.0em;" id="date-range-picker" />
        <i class="glyphicon glyphicon-calendar date-range-picker-icon"></i>
    </div>
</script>

<script id="Report-Viewer-Top-Level" type="text/html">
    <div id="report-viewer-header" class="fixed-positioning-container">
        <div class="standard-header-sleeve" style="height: 150px; border-bottom: 1px solid #FFF; background-color: teal;">

            <!-- This element will track with the scrollbar via JavaScript wiring to onscroll-->
            <div class="standard-header standard-padding top-border-facade" 
                 style="overflow: visible; padding-top:20px;">
                    <div class="col-xs-6 no-side-padding">
                        <div data-bind="if: CurrentReportSelection">
                            <div data-bind="with: CurrentReportSelection()">
                                <div class="popover-container">
                                    <h4 style="display: inline-block; font-weight: 700;"
                                        data-bind="text: Name"></h4>
                                </div>

                                <div style="font-size: 0.9em; color: #666; line-height: 22px;">
                                    <span>This Report includes <a href="#">92 Products (435 Variants)</a>.</span>
                                    <br />
                                    <span>Filtered by <a href="#">Product Types, Vendors, and Variants</a></span>
                                    <br />
                                    <span>Grouped by Vendor, Ordered by Profitability</span>
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-xs-6 no-side-padding" style="padding-top:10px;">
                        <div class="btn-group pull-right">
                            <a href="#" class="btn btn-default dropdown-toggle"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Select Report <span class="caret"></span>
                            </a>

                            <ul class="dropdown-menu" style="width: 260px;">
                                <!-- ko foreach: SystemDefinedReports -->
                                <li>
                                    <a href="#" data-bind="click: $parent.SelectReportClick">
                                        <span style="display:inline-block; width:17px;" data-bind="if:CurrentlySelected">
                                            <i class="glyphicon glyphicon-ok"></i>
                                        </span>
                                        <span data-bind="text: Name"></span>
                                    </a>
                                </li>
                                <!-- /ko -->

                                <li role="separator" class="divider"></li>

                                <!-- ko if: UserDefinedReports().length == 0 -->
                                <li><a href="#">(No custom reports defined yet)</a></li>
                                <!-- /ko -->
                                <!-- ko foreach: UserDefinedReports -->
                                <li>
                                    <a href="#" data-bind="click: $parent.SelectReportClick">
                                        <span style="display:inline-block; width:17px;" data-bind="if:CurrentlySelected">
                                            <i class="glyphicon glyphicon-ok"></i>
                                        </span>
                                        <span data-bind="text: Name"></span>
                                    </a>
                                </li>
                                <!-- /ko -->
                            </ul>
                        </div>

                        <div class="pull-right" style="margin-right: 3px;">
                            <a href="" class="btn btn-default" data-bind="click: EditReportClick">
                                Edit Report <i class="glyphicon glyphicon-pencil"></i>
                            </a>
                        </div>

                        <div class="pull-right btn-group" style="margin-right: 3px;">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">...</button>

                            <ul class="dropdown-menu">
                                <li><a href="#">Save As</a></li>
                                <li><a href="#">Rename</a></li>
                                <li><a href="#">Delete</a></li>
                            </ul>
                        </div>

                        <div style="clear: both; height: 10px;"></div>

                        <div data-bind="template: { name: 'Date-Picker', afterRender: AfterRenderDateRangePicker }"></div>

                        <div style="clear: both; height: 10px;"></div>
                    </div>
                </div>
        </div>
    </div>

    <div id="report-viewer-body" class="container page-content-sleeve">
        <!-- Will move/transistion when the filters appear -->
        <div class="page-content" style="margin-top: 150px; padding-top: 30px; overflow: auto;">

            <!-- TODO : allow injection of external template -->
            <div style="position: relative; width: 100%;">
                <img style="width: 100%;" src="@Url.Content("~/Content/images/ProfitabilityMockup.PNG")" />
                <!--<div data-bind="template: { name: 'Body-Template-That-You-Configured'}"></div> -->
            </div>
        </div>
    </div>
</script>

<script>
    ProfitWiseWidgets = ProfitWiseWidgets || {};

    ProfitWiseWidgets.ReportViewerModel = function () {
        var self = this;

        self.ReportList = ko.observable([]);
        self.CurrentReportSelection = ko.observable();
        self.DateRange = ko.observable();
        
        self.UserDefinedReports = ko.computed(function () {
            return AQ(self.ReportList()).where(function (item) { return item.UserDefined == true; }).toArray();
        });

        self.SystemDefinedReports = ko.computed(function () {
            return AQ(self.ReportList()).where(function (item) { return item.UserDefined == false; }).toArray();
        });

        self.RefreshReportList = function (callback) {
            flow.exec(
                function () {
                    var ajax = new ProfitWiseFunctions.Ajax();
                    ajax.HttpGet("/ReportService/All", this);
                },
                function (data) {
                    AQ(data)
                        .each(
                            function (item) {
                                item.CurrentlySelected =
                                    ko.computed(
                                        function () {
                                            if (!self.CurrentReportSelection()) {
                                                return false;
                                            }
                                            return self.CurrentReportSelection().PwReportId == item.PwReportId;
                                        });
                            });

                    self.ReportList(data);
                    if (callback) {
                        callback();
                    }
                });
        };

        self.AfterRenderDateRangePicker = function () {
            $(".date-range-picker-icon").click(function () {
                $(this).parent().find('input').click();
            });

            $('#date-range-picker')
                .daterangepicker({
                    "parentEl": "#date-range-picker-parent",
                    "startDate": "10/01/2016",
                    "endDate": "10/07/2016",
                    "alwaysShowCalendars": true,
                    "linkedCalendars": false,
                    "applyClass": "btn-primary",
                    "ranges": {
                        'Today': [moment(), moment()],
                        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                        'This Month': [moment().startOf('month'), moment().endOf('month')],
                        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
                        'This Year': [moment().startOf('year'), moment().endOf('year')],
                        'Last Year': [moment().subtract(1, 'year').startOf('year'), moment().subtract(1, 'year').endOf('year')],
                    },
                    "opens": "left",
                },
                    function (start, end, label) {
                        alert(start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
                    });
        };


        self.SelectReportByReportId = function (id) {
            var report = AQ(self.ReportList()).firstOrDefault(function (item) { return item.PwReportId == id; });
            if (report != null) {
                self.SelectReportClick(report);
            }
        };

        self.SelectReportClick = function (data) {
            // TODO: hit the database to load this Report's Header information

            self.CurrentReportSelection(data);
            self.SelectReportCallback(data.PwReportId);
        };

        self.SelectReportCallback = function (reportId) { };

        self.EditReportClick = function () {
            if (self.CurrentReportSelection()) {
                self.EditReportCallback(self.CurrentReportSelection().PwReportId);
            }
        };

        self.EditReportCallback = function (reportId) { };

        return self;
    };
</script>

