@Html.Partial("~/Views/Report/_FilterPagingWidget.cshtml")

<script type="text/html" id="Report-Editor-Empty-Results">
    <div style="text-align: center; padding-top: 50px; padding-bottom: 100px;">
        <i style="font-size: 6.0em; color: #CCC;" class="glyphicon glyphicon-tag"></i>
        <h3 style="color: #777; font-weight: 700;">No <span data-bind="text: $data.ItemDescription"></span> match your search</h3>
        <span style="color: #555;">Try changing or clearing the search terms</span>
    </div>
</script>

<script type="text/html" id="Report-Editor-No-Filters">
    <div style="text-align: center; padding-top: 100px; padding-bottom: 150px;">
        <i style="font-size: 5.0em; color: #CCC;" class="glyphicon glyphicon-ok"></i>
        <h4 style="color: #777; font-weight: 700;">
            All <span data-bind="text: plural"></span> are included in your Report
        </h4>

        <div style="color: #555;">There are currently no <span data-bind="text: singular"></span> filters</div>

        <div style="padding-top:30px;">
            <a href="#" style="width:200px; color:#555;"
               class="btn btn-default" data-bind="click: clickCallback">
                <i class="glyphicon glyphicon-plus"></i> Add <span data-bind="text: $data. singular"></span> Filters
            </a>
        </div>
    </div>
</script>

