@using ProfitWise.Data.Model
@Html.Partial("~/Views/Report/_ReportEditor.cshtml")


<script type="text/html" id="Report-Manager-Top-Level">
    <div data-bind="if: $data.InEditMode">
        <div data-bind="template: { name: 'Report-Editor-Top-Level', data: ReportEditorModel }"></div>
    </div>

    <div data-bind="ifnot: $data.InEditMode">
        <div data-bind="template: { name: 'Report-Viewer-Top-Level', data: ReportViewerModel }"></div>
    </div>
</script>


<script>
    var ProfitWiseWidgets = ProfitWiseWidgets || {};
    var OverallProfitabilityReportId = @PwSystemReportFactory.OverallProfitabilityId;

    // Requires a reference to a InEditMode observable
    ProfitWiseWidgets.ReportManagerModel = function () {
        var self = this;
        self.InEditMode = ko.observable(false);

        self.ReportViewerModel = new ProfitWiseWidgets.ReportViewerModel();
        self.ReportEditorModel = new ProfitWiseWidgets.ReportEditorModel();

        // To be configured by the parent/owner object
        self.ReportViewerModel.EditReportCallback = function (reportId) {
            flow.exec(
                function () {
                    var ajax = new ProfitWiseFunctions.Ajax();

                    // TODO ** copy for editing
                    ajax.HttpPost("/ReportService/CopyAndEdit", { reportId: reportId }, this);
                },
                function (data) {
                    self.InEditMode(true);
                    self.ReportEditorModel.LoadReport(reportId);
                });
        };

        // TODO - wire in the Edit Completion stuff
        self.ReportViewerModel.OkCallback = function () {
            alert('Ok, time to do something');
        };

        self.ReportViewerModel.CancelCallback = function () {
            alert('Cancelled!');
        };

        self.RegisterSelectReportCallback = function (callback) {
            ReportViewerModel.SelectReportCallback = callback;
        }


        self.Initialize = function () {
            self.InEditMode(false);
            flow.exec(
                function() {
                    self.ReportViewerModel.RefreshReportList(this);
                }, 
                function() {
                    self.ReportViewerModel.SelectReportByReportId(OverallProfitabilityReportId);
                });
        };

        return self;
    };
</script>

