@using ProfitWise.Data.Model
@Html.Partial("~/Views/Report/_ReportEditor.cshtml")
@Html.Partial("~/Views/Report/_ReportViewer.cshtml")
@Html.Partial("~/Views/Report/_DatePickerWidget.cshtml")


<script type="text/html" id="Report-Manager-Top-Level">
    <div data-bind="if: $data.InFilterEditMode">
        <div data-bind="template: { name: 'Report-Editor-Top-Level', data: ReportEditorModel }"></div>
    </div>

    <div data-bind="ifnot: $data.InFilterEditMode">
        <div data-bind="template: { name: 'Report-Viewer-Top-Level', data: ReportViewerModel }"></div>
    </div>
</script>

<script>
    var ProfitWiseWidgets = ProfitWiseWidgets || {};
    var OverallProfitabilityReportId = @PwSystemReportFactory.OverallProfitabilityId;

    // Requires a reference to a InFilterEditMode observable
    ProfitWiseWidgets.ReportManagerModel = function () {
        var self = this;
        self.InFilterEditMode = ko.observable(false);

        self.ReportViewerModel = new ProfitWiseWidgets.ReportViewerModel();
        self.ReportEditorModel = new ProfitWiseWidgets.ReportEditorModel();

        // To be configured by the parent/owner object
        self.ReportViewerModel.EditReportCallback = function (reportId) {
            flow.exec(
                function () {
                    var ajax = new ProfitWiseFunctions.Ajax();
                    ajax.HttpPost("/ReportService/CopyForEditing", { reportId: reportId }, this);
                },
                function (data) {
                    self.InFilterEditMode(true);
                    self.ReportEditorModel.LoadReport(data.PwReportId);
                }
            );
        };

        self.ReportEditorModel.OkCallback = function () {
            self.InFilterEditMode(false);
            self.ReportViewerModel.SelectReport(self.ReportEditorModel.ReportId());

            console.log('OK click - time to load report');
        };

        self.ReportEditorModel.CancelCallback = function () {
            self.InFilterEditMode(false);
        };

        self.RegisterSelectReportCallback = function (callback) {
            self.ReportViewerModel.SelectReportCallback = callback;
        };

        self.Initialize = function (callback) {
            self.InFilterEditMode(false);
            flow.exec(
                function() {
                    self.ReportViewerModel.RefreshReportList(this);
                }, 
                function() {
                    self.ReportViewerModel.SelectReportByReportId(OverallProfitabilityReportId);
                    if (callback) {
                        callback();
                    }
                });
        };

        return self;
    };
</script>

