@Html.Partial("~/Views/Report/_ReportManager.cshtml")

@{
    ViewBag.CommonContext.PageTitle = "ProfitWise Dashboard";
}


<style>
    .daterangepicker {
        width: 720px !important;
        font-size: 13px !important;
    }
    div.calendar-table td {
        padding: 0px !important;
        line-height: 33px;
    }
    .modal-backdrop {
        z-index: 900;
    }    
    i.date-range-picker-icon {
        position: absolute; bottom: 10px; right: 10px; top: auto; cursor: pointer;
    }
</style>

<!-- KnockoutJS Root Element -->
<div data-bind="template: { name: 'Report-Manager-Top-Level', data: ReportManagerModel }"></div>

<!-- KnockoutJS Model -->
<script>
    var ProfitWise = ProfitWise || {};
    
    ProfitWise.DashboardModel = function () {
        var self = this;
        
        // Report View Model configuration
        self.ReportManagerModel = new ProfitWiseWidgets.ReportManagerModel();           
        self.ReportManagerModel.RegisterSelectReportCallback(            
            function (reportId) {
                console.log("Ok, as the Dashboard, somebody selected Report Id: " + reportId);

                // TODO - call ajax function to get data and return to Report Viewer, which
                // ... then pass it on to the View Template we specified
            });

        return self;
    };

    $(document)
        .ready(function () {
            ProfitWiseFunctions.FixedHeaderScrollingInit(".standard-header");
            ProfitWiseFunctions.PopOverAutoCloseInit();

            var model = new ProfitWise.DashboardModel();
            ko.applyBindings(model);
            model.ReportManagerModel.Initialize();
        });
</script>

