<!-- Depends on Paging Widget *** please include -->

<!-- Requires FilterPagingWidget model to be passed in KO $data parameter -->
<script type="text/html" id="Filter-Paging-Widget">
    <!-- This element is 120px tall -->
    <div class="row-fluid" style="height: 70px; overflow: auto;">
        <div class="col-xs-8 no-side-padding" style="padding-top: 20px;">
            <div class="input-group">
                <input type="text" class="form-control"
                       data-bind="value: SearchText,
                            attr: { placeholder: $data.PlaceHolderText },
                            event: { keyup: $data.SearchKeyCallback }">
                <div class="input-group-btn">
                    <button class="btn btn-default" data-bind="click: RemoveSearch" style="color:#888;">
                        <i class="glyphicon glyphicon-remove"></i></button>
                    <button data-bind="click: SearchClick" 
                            class="btn btn-default" 
                            style="height: 34px !important;">Go!</button>
                </div><!-- /input-group -->
            </div>
        </div>

        <div class="col-xs-4 no-side-padding" style="padding-top: 20px;">
            <select class="form-control pull-right"
                    data-bind="value: ShowFilter, event: { change: ShowFilterChanged }"
                    style="display: inline-block; width: auto; height: 35px;">
                <option value="Show All">Show All</option>
                <option value="Show Selected Only">Show Selected Only</option>
            </select>
        </div>
    </div>

    <div class="row-fluid" style="height: 50px; overflow: visible;">
        <div class="col-xs-3 no-side-padding" style="padding-top: 10px;">
        </div>
        <div class="col-xs-9 no-side-padding" 
             data-bind="if: $data.PagingModel.RecordCount">            
            <div data-bind="template: { name: 'Paging-Widget', data: $data.PagingModel }">
            </div>
        </div>
    </div>
</script>

<script>
    ProfitWiseWidgets = ProfitWiseWidgets || {};

    ProfitWiseWidgets.FilterPagingWidgetModel = function() {
        var self = this;
        self.SearchText = ko.observable();
        self.ShowFilter = ko.observable("Show All");     // Hard-coded to template option value
        self.PlaceHolderText = ko.observable("Search...");
        self.PagingModel = new ProfitWiseWidgets.PagingModel();

        self.RefreshCallback = function() { };
        self.SelectAllCallback = function () { };
        
        // "public" interfaces
        // NOTE: this is not consistent with other widgets... may need to update for consistency
        self.RegisterRefreshCallback = function(callback) {
            self.RefreshCallback = callback;
            self.PagingModel.Callback = callback;
        };
        
        self.RegisterSelectAllCallback = function(callback) {
            self.SelectAllCallback = callback;
        };

        self.SetPageNumber = function(pageNumber) {
            self.PagingModel.PageNumber(pageNumber);
        };
        
        self.GetPageNumber = function () {
            return self.PagingModel.PageNumber();
        };

        self.SetPageSize = function (pageSize) {
            self.PagingModel.PageSize(pageSize);
        };

        self.GetPageSize = function() {
            return self.PagingModel.PageSize();
        };

        self.SetRecordCount = function (recordCount) {
            self.PagingModel.RecordCount(recordCount);
            if (self.PagingModel.PageNumber() > self.PagingModel.PageCount()) {
                self.PagingModel.PageNumber(self.PagingModel.PageCount());
            }
            if (self.PagingModel.PageNumber() == 0) {
                self.PagingModel.PageNumber(1);
            }
        };

        self.RemoveSearch = function () {            
            self.SearchText("");
            self.SearchClick();
        };

        self.SearchClick = function () {
            self.RefreshCallback();
        };


        // Back-end functions
        self.IsShowAllSelected =
            ko.computed(function () { return self.ShowFilter() === "Show All"; });

        self.ShowFilterChanged = function() {
            self.RefreshCallback();
        };

        self.SelectAllClick = function () {
            self.SelectAllCallback();
        };

        self.SearchKeyCallback = function(model, event) {
            if (event.keyCode == 13) {
                self.RefreshCallback();
                return false;
            } else {
                return true;
            }
        };

        return self;
    };
</script>
