<script type="text/html" id="Report-View-Synopsis">
    <div data-bind="if: CurrentReport() != null">
        <div class="popover-container">
            <h4 style="display: inline-block; font-weight: 700;" data-bind="text: CurrentReport().Name"></h4>
            
            <div style="display:inline-block;" data-bind="if:ReportEditorVisible">
                (Editing Report)
            </div>
        </div>

        <div style="font-size: 14px; color: #666; line-height: 22px;">
            <span data-bind="text: CurrentReport().FilterDigest"></span>
            <br />
            <span data-bind="text: CurrentReport().GroupAndOrderingDigest"></span>
            <br />
        </div>
    </div>
</script>

<script type="text/html" id="Report-View-Interface">

    <div class="btn-group pull-right">
        <a href="#" class="btn btn-sm btn-default dropdown-toggle"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select Report <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" style="width: 260px;">
            <!-- ko foreach: SystemDefinedReports -->
            <li>
                <a href="#" data-bind="click: $parent.ReportClick">
                    <span style="display:inline-block; width:17px;" data-bind="if:CurrentlySelected">
                        <i class="glyphicon glyphicon-ok"></i>
                    </span>
                    <span data-bind="text: Name"></span>
                </a>
            </li>
            <!-- /ko -->

            <li role="separator" class="divider"></li>

            <!-- ko if: UserDefinedReports().length == 0 -->
            <li><a href="#">(No custom reports defined yet)</a></li>
            <!-- /ko -->

            <!-- ko foreach: UserDefinedReports -->
            <li>
                <a href="#" data-bind="click: $parent.ReportClick">
                    <span style="display:inline-block; width:17px;" data-bind="if:CurrentlySelected">
                        <i class="glyphicon glyphicon-ok"></i>
                    </span>
                    <span data-bind="text: Name"></span>
                </a>
            </li>
            <!-- /ko -->
        </ul>
    </div>

    <div class="pull-right" style="margin-right: 3px;">
        <div data-bind="ifnot:ReportEditorVisible">
            <a href="" class="btn btn-sm btn-default" data-bind="click: EditReport">
                Edit Report <i class="glyphicon glyphicon-pencil"></i>
            </a>
        </div>
        <div data-bind="if:ReportEditorVisible">
            <a href="" class="btn btn-sm btn-default disabled" data-bind="click: SaveReport">
                Edit Report <i class="glyphicon glyphicon-pencil"></i>
            </a>
        </div>
    </div>

    <div class="pull-right btn-group" style="margin-right: 3px;">
        <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">...</button>

        <ul class="dropdown-menu">
            <li><a href="#">Save As</a></li>
            <li><a href="#">Rename</a></li>
            <li><a href="#">Delete</a></li>
        </ul>
    </div>

    <div style="clear: both; height: 10px;"></div>

    <div id="date-range-picker-parent" class="pull-right" style="width: 219px; position: relative;">
        <input type="text" class="form-control" style="width: 100%; font-size: 13px;" id="date-range-picker"/>
        <i class="glyphicon glyphicon-calendar date-range-picker-icon"></i>
    </div>

    <div style="clear: both; height: 10px;"></div>
</script>

<script>
    var ProfitWiseWidgets = ProfitWiseWidgets || {};

    ProfitWiseWidgets.ReportViewModel = function () {
        var self = this;

        self.ReportEditorVisible = ko.observable(false);
        self.DateRange = ko.observable();
        self.CurrentReport = ko.observable();
        self.PreviousReport = ko.observable();
        self.Reports = ko.observable([]);


        self.UserDefinedReports = ko.computed(function() {
            return AQ(self.Reports()).where(function(item) { return item.UserDefined == true; }).toArray();
        });

        self.SystemDefinedReports = ko.computed(function() {
            return AQ(self.Reports()).where(function(item) { return item.UserDefined == false; }).toArray();                
        });
        
        self.LoadReports = function (callback) {
            flow.exec(
                function() {
                    var ajax = new ProfitWiseFunctions.Ajax();
                    ajax.HttpGet(
                        "/ReportService/All",
                        this);
                },
                function (data) {                    
                    AQ(data)
                        .each(
                            function(item) {
                                item.CurrentlySelected =
                                    ko.computed(
                                        function() {
                                            if (!self.CurrentReport()) {
                                                return false;
                                            }
                                            return self.CurrentReport().PwReportId == item.PwReportId;
                                        });
                            });

                    self.Reports(data);
                    if (callback) {
                        callback();
                    }
                });
        };

        self.SelectReportCallback = function() {
        };

        self.SelectReportByReportId = function(id) {
            var report = AQ(self.Reports()).firstOrDefault(function(item) { return item.PwReportId == id; });
            if (report != null) {
                self.ReportClick(report);
            }
        };

        self.ReportClick = function (data) {
            self.CurrentReport(data);
            self.SelectReportCallback();
        }

        self.ReportEditorModel = new ProfitWiseWidgets.ReportEditorModel();

        self.CreateDateRangePicker = function () {
            $(".date-range-picker-icon").click(function () {
                $(this).parent().find('input').click();
            });

            $('#date-range-picker')
                .daterangepicker({
                    "parentEl": "#date-range-picker-parent",
                    "startDate": "10/01/2016",
                    "endDate": "10/07/2016",
                    "alwaysShowCalendars": true,
                    "linkedCalendars": false,
                    "applyClass": "btn-primary",
                    "ranges": {
                        'Today': [moment(), moment()],
                        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                        'This Month': [moment().startOf('month'), moment().endOf('month')],
                        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
                        'This Year': [moment().startOf('year'), moment().endOf('year')],
                        'Last Year': [moment().subtract(1, 'year').startOf('year'), moment().subtract(1, 'year').endOf('year')],
                    },
                    "opens": "left",
                },
                    function (start, end, label) {
                        alert(start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
                    });
        };

        self.EditReport = function () {
            flow.exec(
                function() {
                    var ajax = new ProfitWiseFunctions.Ajax();
                    ajax.HttpPost(
                        "/ReportService/CopyAndEdit",
                        { reportId: self.CurrentReport().PwReportId },
                        this);
                },
                function (data) {
                    self.CurrentReport(data);
                    self.ReportEditorVisible(true);
                    self.ReportEditorModel.LoadReport(data.PwReportId);
                });
        };

        self.SaveReport = function () {
            self.ReportEditorVisible(false);
        };

        self.ReportEditorModel.OkCallback = function () {
            // This should trigger an Ok Callback on the parent (Dashboard), I think
            self.ReportEditorVisible(false);
        };

        return self;
    };
</script>

