@Html.Partial("~/Views/UserMain/_FilterPagingWidget.cshtml")

<script type="text/html" id="Report-Editor-Empty-Results">
    <div style="text-align: center; padding-top: 80px; padding-bottom: 100px;">
        <i style="font-size: 6.0em; color: #CCC;" class="glyphicon glyphicon-tag"></i>
        <h3 style="color: #555; font-weight: 300;">Could not find any 
            <span data-bind="text: $data.ItemDescription"></span>
        </h3>
        <span style="color: #AAA;">Try changing the filters or search terms</span>
    </div>
</script>
