@Html.Partial("~/Views/UserMain/_FilterPagingWidget.cshtml")

<script type="text/html" id="Report-Editor-Header-Product-Type">
    <div class="row-fluid">
        <div class="col-xs-8 no-side-padding">
            <div data-bind="template: { name: 'Filter-Paging-Widget', data: $data.FilterModel }"></div>
        </div>
        <div class="col-xs-4"></div>
    </div>

    <div class="row-fluid">
        <div class="col-xs-8" style="border-top: 1px dashed #CCC;"></div>
        <div class="col-xs-1"></div>
        <div class="col-xs-3 no-side-padding" style="top:-120px; background-color: white; height: 300px;">
            <div style="padding:20px;">

                <p style="font-weight:700; color:#666; font-size:1.2em;">Select the Product Types to include in your Report</p>
                <div style="height:65px;">
                    <p style="font-size:0.95em;">Displayed results will only include data from selected Product Types.</p>
                </div>
                <p><a href="#" data-bind="click: GotoNextCallback" class="btn btn-default">Next &gt;&gt;</a></p>
            </div>
        </div>
    </div>
</script>


<script type="text/html" id="Report-Editor-Body-Product-Type">
    <div class="row-fluid">
        <div class="col-xs-8 reduced-padding">
            <table id="product-types" class="table" style="width: 100%; height: 100%; margin: 0;">
                <tbody data-bind="foreach: ProductTypeSummaries">
                <tr style="border-top: 0;">
                    <td>
                        <input class="form-control" checked type="checkbox" style="height: 15px; width: 15px;" />
                    </td>

                    <td data-bind="text: $data.ProductType"></td>
                    <td>(<span data-bind="text: $data.Count"></span> Products)</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-4">
        </div>
    </div>
</script>

<script>
    ProfitWiseWidgets.ReportProductTypeModel = function (parent) {
        var self = this;

        self.Parent = parent;
        self.ReportId = ko.observable();
        self.SelectAll = ko.observable(true);

        self.ProductTypeSummaries = ko.observable([]);

        // TODO - how to filter the Product Types that are shown in the grid... practically?

        self.Refresh = function (reportId) {
            self.ReportId(reportId);

            flow.exec(
                function () {
                    var ajax = new ProfitWiseFunctions.Ajax();
                    ajax.HttpGet("/ReportService/ProductTypes", this);
                },
                function (data) {
                    console.log(data);
                    self.ProductTypeSummaries(data);
                }
            );
        }
        
        self.GotoNextCallback = function () { };
        
        self.FilterModel = new ProfitWiseWidgets.FilterPagingWidgetModel();
        self.FilterModel.PlaceHolderText("Search for Product Types...");

        return self;
    };
</script>