@{
    ViewBag.CommonContext.PageTitle = "ProfitWise Dashboard";
}

<!-- KnockoutJS Templates -->
@Html.Partial("~/Views/SharedTemplates/_PagingWidget.cshtml")
@Html.Partial("~/Views/UserMain/_ReportView.cshtml")
@Html.Partial("~/Views/UserMain/_ReportEditor.cshtml")


<style>
    .daterangepicker {
        width: 720px !important;
        font-size: 13px !important;
    }
    div.calendar-table td {
        padding: 0px !important;
        line-height: 33px;
    }
    .modal-backdrop {
        z-index: 900;
    }    
    i.date-range-picker-icon {
        position: absolute; bottom: 10px; right: 10px; top: auto; cursor: pointer;
    }
</style>

<script type="text/html" id="Page-Header">
    <!-- Bottom Header - Report Header -->
    <div class="fixed-positioning-container" style="top: 145px;" data-bind="visible: $root.ReportViewModel.ReportEditorVisible">
        <!-- Space -->
        <div class="standard-header-sleeve" style="height: 178px;">
            <div class="standard-header standard-padding" style="overflow: visible;">

                <!-- Report Editor component -->
                <div data-bind="template: { name: 'Report-Editor-Header', data: $root.ReportViewModel.ReportEditorModel }"></div>
            </div>
        </div>
    </div>

    <!-- Top Header -->
    <div class="fixed-positioning-container">
        <div class="standard-header-sleeve" style="height: 150px; border-bottom: 1px solid #FFF; background-color: teal;">

            <!-- This element will track with the scrollbar via JavaScript wiring to onscroll-->
            <div class="standard-header standard-padding top-border-facade" style="overflow: visible;">

                <!-- Non-"filter editor" segment -->
                <div class="row-fluid" style="padding-top: 20px;">
                    <div class="col-xs-5 no-side-padding"
                         data-bind="template: { name: 'Report-View-Synopsis', data: $root.ReportViewModel }">                        
                    </div>

                    <div class="col-xs-7 no-side-padding"
                         data-bind="template: { name: 'Report-View-Interface', data: $root.ReportViewModel }">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="Page-Body">
    <!-- Will move/transistion when the filters appear -->
    <div class="page-content" style="margin-top: 150px; min-height: 700px; padding-top: 30px;">

        <div data-bind="ifnot: $root.ReportViewModel.ReportEditorVisible">
            <div data-bind="template: { name: 'Dashboard-Body'}" style="position: relative; width: 100%;"></div>
        </div>

        <div data-bind="if: $root.ReportViewModel.ReportEditorVisible">
            <div data-bind="template: { name: 'Report-Editor-Body', data: $root.ReportViewModel.ReportEditorModel }"></div>
        </div>
    </div>
</script>

<script type="text/html" id="Main-Template">
    <div data-bind="template: { name: 'Page-Header', data: $data }"></div>
    <div class="container page-content-sleeve" data-bind="template: { name: 'Page-Body' }"></div>
</script>

<script type="text/html" id="Dashboard-Body">
    <img style="width: 100%;" src="@Url.Content("~/Content/images/ProfitabilityMockup.PNG")" />
</script>

<!-- KnockoutJS Root Element -->
<div data-bind="template: { name: 'Main-Template' }"></div>

<!-- KnockoutJS Model -->
<script>
    var ProfitWise = ProfitWise || {};

    ProfitWise.DashboardModel = function () {
        var self = this;
        self.PagingModel = new ProfitWiseWidgets.PagingModel();

        self.LoadDashboardData = function () { };

        self.ReportViewModel = new ProfitWiseWidgets.ReportViewModel();
        self.ReportViewModel.SelectReportCallback = function() {
            alert('need to wire me in!');
        };
        return self;
    };

    $(document)
        .ready(function () {
            ProfitWiseFunctions.FixedHeaderScrollingInit(".standard-header");
            ProfitWiseFunctions.PopOverAutoCloseInit();

            var model = new ProfitWise.DashboardModel();

            ko.applyBindings(model);
            model.ReportViewModel.CreateDateRangePicker();
            model.ReportViewModel.LoadReports(
                model.ReportViewModel.OverallProfitabilityClick);
        });
</script>

