@{
    ViewBag.CommonContext.PageTitle = "ProfitWise Dashboard";
}

<!-- KnockoutJS Templates -->
@Html.Partial("~/Views/SharedTemplates/_PagingWidget.cshtml")
@Html.Partial("~/Views/UserMain/_ReportEditor.cshtml")


<style>
    .daterangepicker {
        width: 720px !important;
        font-size: 13px !important;
    }
    div.calendar-table td {
        padding: 0px !important;
        line-height: 33px;
    }
    .modal-backdrop {
        z-index: 900;
    }    
    i.date-range-picker-icon {
        position: absolute; bottom: 10px; right: 10px; top: auto; cursor: pointer;
    }
</style>

<script type="text/html" id="Page-Header">
    <!-- Bottom Header - Report Header -->
    <div class="fixed-positioning-container" style="top: 145px;" data-bind="visible: ReportEditorVisible">
        <!-- Space -->
        <div class="standard-header-sleeve" style="height: 178px;">
            <div class="standard-header standard-padding" style="overflow: visible;">

                <!-- Report Editor component -->
                <div data-bind="template: { name: 'Report-Editor-Header', data: $root.ReportEditorModel }"></div>
            </div>
        </div>
    </div>

    <!-- Top Header -->
    <div class="fixed-positioning-container">
        <div class="standard-header-sleeve" style="height: 150px; border-bottom: 1px solid #FFF; background-color: teal;">

            <!-- This element will track with the scrollbar via JavaScript wiring to onscroll-->
            <div class="standard-header standard-padding top-border-facade" style="overflow: visible;">

                <!-- Non-"filter editor" segment -->
                <div class="row-fluid" style="padding-top: 20px;">
                    <div class="col-xs-5 no-side-padding">
                        <div class="popover-container">
                            <h4 style="display: inline-block">Profitability by Vendor</h4>
                        </div>

                        <div style="font-size: 14px; font-weight: 600; color: #666; line-height: 24px;">
                            Grouped by SKU, ordered by most profitable
                            <br />
                            <span style="font-weight: 400">12 Products with 33 Variants selected</span>
                        </div>
                    </div>

                    <div class="col-xs-7 no-side-padding">
                        <div class="btn-group pull-right">
                            <a href="#" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Select View <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Overall Profitability</a></li>
                                <li><a href="#">Profitability by Product Type</a></li>
                                <li><a href="#">Profitability by Vendor</a></li>
                                <li><a href="#">Profitability by Product</a></li>
                                <li><a href="#">Profitability by SKUs</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Custom Report #1</a></li>
                                <li><a href="#">Custom Report #2</a></li>
                                <li><a href="#">Custom Report #3</a></li>
                                <li><a href="#">Custom Report #4</a></li>
                                <li><a href="#">Custom Report #5</a></li>
                            </ul>
                        </div>

                        <div class="pull-right" style="margin-right: 3px;">
                            <div data-bind="ifnot:ReportEditorVisible">
                                <a href="" class="btn btn-sm btn-default" data-bind="click: EditReport">
                                    Edit View <i class="glyphicon glyphicon-pencil"></i>
                                </a>
                            </div>
                            <div data-bind="if:ReportEditorVisible">
                                <a href="" class="btn btn-sm btn-default disabled" data-bind="click: SaveReport">
                                    Edit View <i class="glyphicon glyphicon-pencil"></i>
                                </a>
                            </div>
                        </div>

                        <div class="pull-right btn-group" style="margin-right: 3px;">
                            <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">...</button>

                            <ul class="dropdown-menu">
                                <li><a href="#">Save As</a></li>
                                <li><a href="#">Rename</a></li>
                                <li><a href="#">Delete</a></li>
                            </ul>
                        </div>


                        <div style="clear: both; height: 10px;"></div>

                        <div id="date-range-picker-parent" class="pull-right" style="width: 219px; position: relative;">
                            <input type="text" class="form-control" style="width: 100%; font-size: 13px;" id="date-range-picker" />
                            <i class="glyphicon glyphicon-calendar date-range-picker-icon"></i>
                        </div>

                        <div style="clear: both; height: 10px;"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="Page-Body">
    <!-- Will move/transistion when the filters appear -->
    <div class="page-content" style="margin-top: 150px; min-height: 700px; padding-top: 30px;">

        <div data-bind="ifnot: ReportEditorVisible">
            <div data-bind="template: { name: 'Dashboard-Body'}" style="position: relative; width: 100%;"></div>
        </div>

        <div data-bind="if: ReportEditorVisible">
            <div data-bind="template: { name: 'Report-Editor-Body', data: $root.ReportEditorModel }"></div>
        </div>
    </div>
</script>

<script type="text/html" id="Main-Template">
    <div data-bind="template: { name: 'Page-Header', data: $data }"></div>
    <div class="container page-content-sleeve" data-bind="template: { name: 'Page-Body' }"></div>
</script>

<script type="text/html" id="Dashboard-Body">
    <img style="width: 100%;" src="@Url.Content("~/Content/images/ProfitabilityMockup.PNG")" />
</script>

<!-- KnockoutJS Root Element -->
<div data-bind="template: { name: 'Main-Template' }"></div>

<!-- KnockoutJS Model -->
<script>
    var ProfitWise = ProfitWise || {};

    ProfitWise.DashboardModel = function () {
        var self = this;
        self.PagingModel = new ProfitWiseWidgets.PagingModel();

        self.CreateDateRangePicker = function () {
            $(".date-range-picker-icon").click(function () {
                $(this).parent().find('input').click();
            });

            $('#date-range-picker')
                .daterangepicker({
                    "parentEl": "#date-range-picker-parent",
                    "startDate": "10/01/2016",
                    "endDate": "10/07/2016",
                    "alwaysShowCalendars": true,
                    "linkedCalendars": false,
                    "applyClass": "btn-primary",
                    "ranges": {
                        'Today': [moment(), moment()],
                        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                        'This Month': [moment().startOf('month'), moment().endOf('month')],
                        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
                        'This Year': [moment().startOf('year'), moment().endOf('year')],
                        'Last Year': [moment().subtract(1, 'year').startOf('year'), moment().subtract(1, 'year').endOf('year')],
                    },
                    "opens": "left",
                },
                    function (start, end, label) {
                        alert(start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
                    });
        };

        self.LoadDashboardData = function () { };

        self.EditReport = function () {
            self.ReportEditorVisible(true);
        };

        self.SaveReport = function () {
            self.ReportEditorVisible(false);
        };

        self.ReportEditorModel = new ProfitWiseWidgets.ReportEditorModel();
        
        self.ReportEditorModel.OkCallback = function() {
            self.ReportEditorVisible(false);
        };
        self.ReportEditorVisible = ko.observable(false);

        return self;
    };

    $(document)
        .ready(function () {
            ProfitWiseFunctions.FixedHeaderScrollingInit(".standard-header");
            ProfitWiseFunctions.PopOverAutoCloseInit();

            var model = new ProfitWise.DashboardModel();
            ko.applyBindings(model);
            model.CreateDateRangePicker();
        });
</script>

