@model ProfitWise.Web.Models.UserModelBase

@{
    Model.PageTitle = "Edit Cost of Goods";
}


<style>
    table.table td {
        height: 70px !important;
        font-size: 14px;
        vertical-align: middle !important;
    }

    table.table th {
        font-size: 14px !important;
        font-weight: 700;
        color: #777;
        height: 60px;
    }

    #product-cogs tr td:nth-child(1) {
        width: 15%;
    }

    #product-cogs tr td:nth-child(2) {
        width: 25%;
    }

    #product-cogs tr td:nth-child(3) {
        width: 14%;
    }

    #product-cogs tr td:nth-child(4) {
        width: 13%;
        text-align: center;
    }

    #product-cogs tr td:nth-child(5) {
        width: 13%;
        text-align: center;
    }

    #product-cogs tr td:nth-child(6) {
        width: 10%;
        text-align: center;
    }

    #product-cogs tr td:nth-child(7) {
        width: 10%;
        text-align: center;
    }

    input[type='text'] {
        width: 100px;
    }
</style>

<!-- KnockoutJS Templates -->
@Html.Partial("_PagingWidget")
@Html.Partial("_ProductFilterWidget")
@Html.Partial("_PageFooter")

<script type="text/html" id="Page-Header">
    <div id="fixed-positioning-container">
        <div id="top-header-sleeve" style="height: 210px;">

            <!-- This element will track with the scrollbar via JavaScript wiring to onscroll-->
            <div id="top-header">

                <div class="row" style="padding-left: 25px; padding-right: 25px;">

                    <!-- Filtering Widget -->
                    <div class="col-md-5" style="padding-top: 20px;">
                        <div class="pull-left;"
                             data-bind="template: { name: 'Product-Filter', afterRender: ProfitWiseWidgets.productFilterWidgetInitialize }">
                        </div>
                    </div>

                    <!-- Paging Widget -->
                    <div class="col-md-7">
                        <div style="min-width: 500px;" 
                             data-bind="template: { name: 'Paging-Widget', data: $root.PagingModel, afterRender: ProfitWiseWidgets.pagingWidgetInitialize }">
                        </div>
                    </div>
                </div>

                <div class="visible-md visible-lg row header-horz-padding">
                    <!-- Create Purchase Order Button -->
                    <div class="col-xs-12" style="text-align: right;">
                        <a style="width: 225px;" class="form-control btn btn-default" href="#"><i class="glyphicon glyphicon-copy"></i> &nbsp;&nbsp;Create Purchase Order</a>
                    </div>
                </div>

                <!-- Table Headings - note: measured table rendering height is 61px, top border offset is 20px; -->
                <div class="header-horz-padding" style="position: absolute; top: 129px;">
                    <table class="table" id="heading">
                        <thead>
                            <tr>
                                <th>Vendor <i class="glyphicon glyphicon-triangle-bottom"></i></th>
                                <th>Product <i class="glyphicon glyphicon-triangle-bottom"></i></th>
                                <th>Inventory <i class="glyphicon glyphicon-triangle-bottom"></i></th>
                                <th style="text-align: center;">Price <i class="glyphicon glyphicon-triangle-bottom"></i></th>
                                <th style="text-align: center;">CoGS</th>
                                <th style="text-align: center;">Stocked Directly</th>
                                <th style="text-align: center;">Exclude</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="Main-Template">
    <div data-bind="template: { name: 'Page-Header'}"></div>

    <div class="container" style="margin: 0; width: 100%; padding-left: 20px; padding-right: 20px;">
        <div style="position: relative; min-width: 800px; margin-top: 209px; background-color: #FFF; padding-left: 25px; padding-right: 25px;">
            <table id="product-cogs" class="table" style="width: 100%; height: 100%; margin: 0;">
                <tbody data-bind="foreach: $root.CurrentGrid">
                <tr>
                    <td data-bind="text: Vendor"></td>
                    <td><a href="CoGSProduct.html" data-bind="text: ProductTitle"></a></td>
                    <td><span data-bind="text: InventoryCount"></span> in stock<br/>
                        (<span data-bind="text: VariantCount"></span> variants)</td>
                    <td data-bind="text: PriceAmount"></td>
                    <td><a href="#" data-bind="text: CogsAmount, click: $root.LaunchBulkEditPopup"></a></td>
                    <td><input type="checkbox" /></td>
                    <td><input type="checkbox" /></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div data-bind="template: { name: 'Page-Footer'}"></div>
</script>

<!-- KnockoutJS Root View --><!-- data: $root.EndlessGlider, -->
<div data-bind="template: { name: 'Main-Template' }">
</div>


<script>
    var ProfitWise = ProfitWise || {};

    ProfitWise.EditCogsModel = function () {
        var self = this;

        self.CurrentGrid = ko.observableArray();
        self.PagingModel = new ProfitWiseWidgets.PagingModel();

        self.LoadDataForCurrentPage = function (pageNumber, pageSize) {
            pageNumber = pageNumber || 1;
            pageSize = pageSize || Number(self.PagingModel.PageSize());

            // #1 - how many records match that criteria
            // TODO => invoke external service
            self.PagingModel.RecordCount(2000);

            // #2 - load only that page of numbers
            // TODO => invoke external service
            var data = window.cogsDataService(pageNumber, pageSize);
            console.log(data);

            self.CurrentGrid.removeAll();
            self.CurrentGrid(data);
        };

        self.PagingModel.SubscribeCallbackFunction(self.LoadDataForCurrentPage);

        self.LaunchBulkEditPopup = function() {
            ProfitWiseFunctions.launchBulkEditPopUp();
        };

        return self;
    };

    $(document)
        .ready(function () {
            ProfitWiseFunctions.tableHeaderWidthInit("table#product-cogs tbody tr td", "table#heading thead tr th");
            ProfitWiseFunctions.fixedHeaderScrollingInit("#top-header");

            var model = new ProfitWise.EditCogsModel();
            model.LoadDataForCurrentPage();

            ko.applyBindings(model);
            window.modeltmp = model;

            // $root
            // model.CurrentGrid [ 1 to N ]
            // model.LaunchBulkEditPopup
        });
</script>

<script>
    window.cogsDataService = function (pageNumber, pageSize) {
        console.log('Spill the beans! ' + pageNumber + ' ' + pageSize);

        var output = [];
        var startRecord = (pageNumber - 1) * pageSize + 1;

        console.log('Pffft.. ' + startRecord + ' ' + pageSize);

        var endRecord = startRecord + pageSize - 1;

        console.log('EndRecord ' + endRecord);
        
        
        for (var count = startRecord; count <= endRecord; count++) {
            output.push({
                Vendor: '3D Universe ' + count,
                ProductTitle: '3D Universe PLA 2.85 mm ' + count,
                InventoryCount: 175,
                VariantCount: 12,
                PriceAmount: 34.00,
                PriceCurrency: 'USD',
                CogsAmount: 18.00,
                CogsCurrency: 'USD',
            });
        };

        return output;
    }
</script>

