@using Push.Foundation.Web.Json
@model ProfitWise.Data.Model.PwCogsProductSummary
@{
    ViewBag.CommonContext.PageTitle = "Product Selections";
    Layout = "~/Views/Shared/_UserLayoutDialogBox.cshtml";
}


<h1>Hello There!!!</h1>