@using Push.Foundation.Web.Json
@model ProfitWise.Web.Models.FilterEditorModel
@{
    ViewBag.CommonContext.PageTitle = "Edit Report Filter";
    //Layout = "~/Views/Shared/_AuthenticatedPopupLayout.cshtml";
}

<style>
    .modal .modal-fixed {
        position: fixed;
        background-color: red;
    }
</style>

<script type="text/html" id="Main-Template">

    <div class="modal-body" style="height:400px; overflow:auto;">
        <div class="row">
            <div class="col-xs-2">
                <div class="modal-fixed">Patate</div>
            </div>
            <div class="col-xs-10">
                <p>One fine body&hellip;</p>
                <p>One fine body&hellip;</p>
                <p>One fine body&hellip;</p>
                <p>One fine body&hellip;</p>
                <p>One fine body&hellip;</p>
                <p>One fine body&hellip;</p>
                <p>One fine body&hellip;</p>
                <p>One fine body&hellip;</p>
                <p>One fine body&hellip;</p>
                <p>One fine body&hellip;</p>
                <p>One fine body&hellip;</p>
                <p>One fine body&hellip;</p>
                <p>One fine body&hellip;</p>
                <p>One fine body&hellip;</p>
                <p>One fine body&hellip;</p>
                <p>One fine body&hellip;</p>
                <p>One fine body&hellip;</p>
                <p>One fine body&hellip;</p>
                <p>One fine body&hellip;</p>
                <p>One fine body&hellip;</p>
                <p>One fine body&hellip;</p>
                <p>One fine body&hellip;</p>
                <p>One fine body&hellip;</p>
                <p>One fine body&hellip;</p>
                <p>One fine body&hellip;</p>
                <p>One fine body&hellip;</p>
                <p>One fine body&hellip;</p>
                <p>One fine body&hellip;</p>
                <p>One fine body&hellip;</p>
                <p>One fine body&hellip;</p>
                <p>One fine body&hellip;</p>
                <p>One fine body&hellip;</p>
                <p>One fine body&hellip;</p>
                <p>One fine body&hellip;</p>
                <p>One fine body&hellip;</p>
                <p>One fine body&hellip;</p>
                <p>One fine body&hellip;</p>
                <p>One fine body&hellip;</p>
                <p>One fine body&hellip;</p>
                <p>One fine body&hellip;</p>
                <p>One fine body&hellip;</p>
                <p>One fine body&hellip;</p>
                <p>One fine body&hellip;</p>
                <p>One fine body&hellip;</p>
                <p>One fine body&hellip;</p>
                <p>One fine body&hellip;</p>
                <p>One fine body&hellip;</p>
                <p>One fine body&hellip;</p>
                <p>One fine body&hellip;</p>
                <p>One fine body&hellip;</p>
                <p>One fine body&hellip;</p>
            </div>
        </div>
    </div>

    <div class="form-group" style="text-align: right;">
        <div class="col-xs-12">
            <input type="button" class="btn btn-default" value="Cancel" data-bind="click: CancelButtonClick"/>
            <input type="button" class="btn btn-primary" value="Ok" data-bind="click: OkButtonClick"/>
        </div>
    </div>

    <div style="height: 20px;"></div>
</script>


<div style="position: fixed; top: 0; left: 0">
    <h1>Test Test TEst TESt</h1>
</div>

<div style="height: 2000px;">
    <p>I should scroll!!!</p>
    <p>I should scroll!!!</p>
    <p>I should scroll!!!</p>
    <p>I should scroll!!!</p>
    <p>I should scroll!!!</p>
    <p>I should scroll!!!</p>
</div>


<!--
<div style="min-height: 2000px;"
     data-bind="template: { name: 'Main-Template', afterRender: function() { $('input.money-editor-text').focus(); } }">
</div>
    -->
<script>
    // Data pass via PwCogsProduct C# object
    var data = @Html.Raw(Model.SerializeToJson());

    $(document)
        .ready(function () {
            var ProfitWise = ProfitWise || {};

            ProfitWise.FilterModel = function() {
                var self = this;


                self.CancelButtonClick = function() {
                    ShopifyApp.Modal.close({ result: false });
                };

                self.OkButtonClick = function() {
                    
                    /*
                    var postData = {
                    };

                    var settings = new ProfitWiseFunctions.AjaxSettings(true);
                    var ajax = new ProfitWiseFunctions.Ajax(settings);

                    ajax.HttpPost(
                        "/CogsService/BulkUpdateCogs", 
                        postData,
                        function() {
                            ShopifyApp.Modal.close(true);                               
                        });
                        */
                    return false;
                };
            };

            var model = new ProfitWise.FilterModel();

            // Load Product data into the model
            //model.MasterProductId(data.PwMasterProductId);

            ko.applyBindings(model);
        });
</script>
   