@using Push.Foundation.Web.Json
@model ProfitWise.Data.Model.PwCogsProduct
@{
    ViewBag.CommonContext.PageTitle = "Edit Report Filter";
    Layout = "~/Views/Shared/_UserLayoutDialogBox.cshtml";
}

<script type="text/html" id="Main-Template">
    <form class="form-horizontal" onsubmit="return false;">
        <h1>Let's Code This Bad Boi!!!!</h1>

        <div class="form-group" style="text-align: right;">
            <div class="col-xs-12">
                <input type="button" class="btn btn-default" value="Cancel" data-bind="click: CancelButtonClick"/>
                <input type="button" class="btn btn-primary" value="Ok" data-bind="click: OkButtonClick"/>
            </div>
        </div>

        <div style="height:20px;"></div>
    </form>
</script>

<div data-bind="template: { name: 'Main-Template', afterRender: function() { $('input.money-editor-text').focus(); } }">
</div>

<script>
    // Data pass via PwCogsProduct C# object
    var data = @Html.Raw(Model.SerializeToJson());

    $(document)
        .ready(function () {
            var ProfitWise = ProfitWise || {};

            ProfitWise.FilterModel = function() {
                var self = this;


                self.CancelButtonClick = function() {
                    ShopifyApp.Modal.close(false);
                };

                self.OkButtonClick = function() {
                    
                    var postData = {
                    };

                    var settings = new ProfitWiseFunctions.AjaxSettings(true);
                    var ajax = new ProfitWiseFunctions.Ajax(settings);

                    ajax.HttpPost(
                        "/CogsService/BulkUpdateCogs", 
                        postData,
                        function() {
                            ShopifyApp.Modal.close(true);                               
                        });

                    return false;
                };
            };

            var model = new ProfitWise.FilterModel();

            // Load Product data into the model
            //model.MasterProductId(data.PwMasterProductId);

            ko.applyBindings(model);
        });
</script>
   