html, body {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: rgb(235, 238, 240) !important;
    font-size: 14px;
    color: #555;
    line-height: 32px;
}



/** Adjustment for Bootstrap Input Groups heights */
.input-group {
}

input[type='text'] {
    width: 100px;
}

.not-allowed:hover {
    cursor: not-allowed;
}

.overflow-gracefully {
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap;
}

td.overflow-gracefully {
    max-width:0;    
}


/** Page Header common styling **/
#fixed-positioning-container {
    position: fixed; 
    width: 100%; 
    top: 0; 
    padding-left: 20px; 
    padding-right: 20px; 
    z-index: 100;
}

/** This element is where we set Height **/
#top-header-sleeve {
    position: relative; 
    width: 100%; 
}

#top-header {
    position: absolute; 
    min-width: 900px; 
    width: 100%; 
    background-color: #FFF; 
    border-top: 20px rgb(235, 238, 240) solid; 
    height: 100%;
}

.header-horz-padding {
    padding-left: 25px; 
    padding-right: 25px;   
}



/** Bootstrap customizations **/
 .btn-sample { 
         color: #FFFFFF; 
         background-color: #329CDA; 
         border-color: #329CDA; 
     } 
 
.btn-sample:hover, 
.btn-sample:focus, 
.btn-sample:active, 
.btn-sample.active, 
.open .dropdown-toggle.btn-sample { 
    color: #FFFFFF; 
    background-color: #26729E; 
    border-color: #329CDA; 
} 
 
.btn-sample:active, 
.btn-sample.active, 
.open .dropdown-toggle.btn-sample { 
    background-image: none; 
} 
 
.btn-sample.disabled, 
.btn-sample[disabled], 
fieldset[disabled] .btn-sample, 
.btn-sample.disabled:hover, 
.btn-sample[disabled]:hover, 
fieldset[disabled] .btn-sample:hover, 
.btn-sample.disabled:focus, 
.btn-sample[disabled]:focus, 
fieldset[disabled] .btn-sample:focus, 
.btn-sample.disabled:active, 
.btn-sample[disabled]:active, 
fieldset[disabled] .btn-sample:active, 
.btn-sample.disabled.active, 
.btn-sample[disabled].active, 
fieldset[disabled] .btn-sample.active { 
    background-color: #329CDA; 
    border-color: #329CDA; 
} 
 
.btn-sample .badge { 
    color: #329CDA; 
    background-color: #FFFFFF; 
}


/** Product Filter styling **/
.order-by-column {
        color: #337ab7 !important;
}
.order-by-column:hover {
    cursor: hand;
    cursor: pointer;
}

.filter-tag-container {
    border-radius: 4px; 
    border: 1px solid rgb(203, 219, 238); 
    color: #666; 
    padding: 5px; 
    height: 28px; 
    background-color: rgb(233, 243, 255);
    font-size: 0.85em;
}

.filter-description {
    vertical-align: top; 
    display: inline-block; 
    padding-top: 0px;    
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap;
    max-width: 150px;
}

a.filter-remove i {
    display:inline-block; 
    padding-top:2px;
}

a.filter-remove {
    color: #777;
}

a.filter-remove:hover {
    color: #AAA;
    text-decoration: none;
}

a.filter-remove:active, a.filter-remove:focus, a.filter-remove:visited {
    text-decoration: none;    
}




.spinner-layer {
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 2000;
	width: 100%; 
	height: 100%;
	background:rgba(255, 255, 255, 0.5);
    /* filter: alpha(opacity=50); */
}

.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -40px; /* half width of the spinner gif */
    margin-top: -40px; /* half height of the spinner gif */
    text-align: center;
    z-index: 900;
    overflow: auto;
    width: 80px; /* width of the spinner gif */
    height: 80px; /*hight of the spinner gif +2px to fix IE8 issue */
}

.spinner .img-spinner {
    width: 80px;
    height: 80px;
}


/** Exception Page styling **/
h2 {
    font-size: 24px;
    font-weight: 600; 
}
h4 {
    font-weight: 100;
    font-size: 22px;
}


.exception {
    margin: 30px; padding: 30px; background-color: #FFF;  min-height: 500px;
}

.exception h2.header {
    color: #666;        
}

.exception .top-spacer {
    height: 20px;
}


.main-space {
    margin: 30px; padding: 30px; background-color: #FFF;  min-height: 500px;
}

