@using ProfitWise.Web.Plumbing

@model ProfitWise.Web.Models.WelcomeModel
@{
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<div class="system-page shadow" style="text-align: center;">
    
    <div style="margin-bottom: 50px;">
        <a href="https://apps.shopify.com/profitwise" class="btn btn-default">
            Use ProfitWise With Your Shop
        </a>
    </div>

    <div style="max-width: 350px; margin-left: auto; margin-right: auto;">
        <img src="@GlobalConfig.BaseUrl/Content/images/Logo400x101HighRes.jpg"
             class="img-responsive"  />        
    </div>

    <div class="top-spacer"></div>
    
    @Html.Partial("_PrivacyContent")
</div>
